/* Footer heseg */
footer {
    background: #063255;
    height: 463px;
    position: relative;
  }
  
  footer #footer-img-right {
    position: absolute;
    top: 38px;
    right: 0px;
    background: #f58a07;
    width: 53px;
    height: 287px;
    border-radius: 20px 0 0 20px;
  }
  
  footer #footer-img-left {
    position: absolute;
    left: 0px;
    bottom: 0px;
    background: #f58a07;
    width: 53px;
    height: 144px;
    border-radius: 0 20px 0 0;
  }

  #footer-logo {
    background: url(../images/white-logo.svg) no-repeat center/cover;
    width: 120px;
    height: 30px;
    line-height: 30px;
  }
  
  footer .container .container-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  footer .container .container-content .footer-row1 {
    display: flex;
    justify-content: space-between;
    height: 200px;
    width: 1280px;
    margin-top: 80px;
  }
  
  footer .container .container-content .footer-row1 .footer { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #fff;
  }
  
  footer .container .container-content .footer-row1 .col-1 .footer-title1 {
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    width: 351px;
    margin: 34px 0;
  }
  
  
  footer .container .container-content .footer-row1 .col-1 .foot-social-logo i {
    font-size: 20px;
    margin-right: 20px;
  }
  
  
  footer .container .container-content .footer-row1 .col-2 .footer-col-2-title,
  footer .container .container-content .footer-row1 .col-3 .footer-col-3-title,
  footer .container .container-content .footer-row1 .col-4 .footer-col-4-title {
    font-size: 18px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  footer .container .container-content .footer-row1 .col-2 .footer-col-2-text,
  footer .container .container-content .footer-row1 .col-3 .footer-col-3-text {
    font-size: 16px;
    font-weight: 500;
  }
  
  
  footer .container .container-content .footer-row1 .col-4 #footer-email {
    color: #9c9c9c;
    text-decoration: none;
    background: #fff;
    border-radius: 31px;
    width: 342px;
    height: 54px;
    padding: 17px 32px;
    margin: 16px 0;
  }
  
  footer .container .container-content .footer-row1 .col-4 #footer-subscribe-btn {
    color: #fff;
    background: #f58a07;
    text-decoration: none;
    width: 156px;
    height: 58px;
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 50px;
    padding: 1rem 2rem;
  }
  
  footer .container .container-content .footer-row2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 1280px;
    margin-top: 80px;
  }
  
  
  footer .container .container-content .footer-row2 .footer-copyright {
    color: #fff;
  }
  
  footer .container .container-content .footer-row2 .privacy-text {
    color: #fff;
  }
  /* FOOTER END */