:root {
    --primary-color: #f58a07;
    --secondary-color: #fff;
    --medium-header-color: #063255;
    --big-header-color: #0d1317;
    --bg-light: #dceaf5;
    --bg-lightB: #edf7ff;
    --bg-dark: #063255;
    --gray: #5b5b5b;
    --black: #1d3444;
    --button-border: #a8bccc;
  
    /* Font size 16px-ees to REM */
    /* 64px */
    --font64: 4rem;
    /* 48px */
    --font48: 3rem;
    /* 36px */
    --font36: 2.25rem;
    /* 24px */
    --font24: 1.5rem;
    /* 18px */
    --font18: 1.125rem;
    /* 16px */
    --font16: 1rem;
  }
  
  * {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    max-width: 1920px;
    margin: 0;
    padding: 0;
  }
  
  /***** CSS Resused code template ********/
  
  .container {
    max-width: 1280px;
    margin: 0px auto;
  }

  .container-width {
    max-width: 1376px;
    margin: 0px auto;
    position: relative;
  }

  /* Flex row */
  .flex-row {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
  }

  /* Flex column */
  .flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  /* Add to Flex margin 80px */
  .add-m-80x0 {
    margin: 80px 0;
  }

  .imageBox {
    position: relative;
  }

  .textBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 600px;
    justify-content: center;
  }

  /* Text decoration not USED */
.container-width .n-t-ul {
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    color: #5b5b5b;
    list-style: disc;
}

  .imageBox1 {
    height: 650px;
    width: 616px;
  }

  .imageBox2 {
    height: 550px;
    width: 620px;
    border-radius: 20px;
  }

  .imageBox3 {
    height: 501px;
    width: 620px;
  }

  .medium-title {
    font-size: 3rem;
    line-height: 56px;
    font-weight: 600;
    color: #0d1317;
  }

  .large-title {
    font-size: 4rem;
    line-height: 72px;
    font-weight: 600;
    color: #1d3444;
    width: 618px;
    /* height: 216px; */
  }

  .text-para {
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    color: #5b5b5b;
  }

.orange-btn {
    font-weight: 600;
    line-height: 17px;
    color: #fff;
    background: #f58a07;
    padding: 18px 32px;
    border-radius: 27px;
    text-decoration: none;
}

.doubleBlend-source {
    background: url(../images/drink-coffee.jpg);
    border-radius: 20px;
    height: 650px;
    width: 616px;
}

.doubleBlend {
    background: url(../images/drink-coffee.jpg), #f58a07;
    height: 650px;
    width: 180px;
    background-blend-mode: multiply;
    border-radius: 20px 0 0 20px;
}

/*----- Template Code Above ----------*/

/* Left */
.doubleBlend-source2 {
    background: url(../images/podcasting.jpg);
    border-radius: 20px;
    height: 550px;
    width: 620px;
}

.doubleBlend2 {
    position: absolute;
    background: url(../images/podcasting.jpg), #f58a07;
    height: 97px;
    width: 95px;
    background-blend-mode: multiply;
    border-radius: 20px;
    left:-48px;
    top: 128px;
}

/* Right */
.doubleBlend-source3 {
    background: url(../images/digitalization-tea.jpg);
    border-radius: 20px;
    height: 550px;
    width: 620px;
}

.doubleBlend3 {
    position: absolute;
    background: url(../images/digitalization-tea.jpg), #f58a07;
    height: 97px;
    width: 95px;
    background-blend-mode: multiply;
    border-radius: 20px;
    right: -48px;
    top: 272px;
}

/* Left */
.doubleBlend-source4 {
    background: url(../images/risk-assessment.jpg);
    border-radius: 20px;
    height: 550px;
    width: 620px;
}

.doubleBlend4 {
    position: absolute;
    background: url(../images/risk-assessment.jpg), #f58a07;
    height: 97px;
    width: 95px;
    background-blend-mode: multiply;
    border-radius: 20px;
    left: -48px;
    top: 217px;
}

/* Right */
.doubleBlend-source5 {
    background: url(../images/artificiall-intelligence.jpg);
    border-radius: 20px;
    height: 550px;
    width: 620px;
}

.doubleBlend5 {
    position: absolute;
    background: url(../images/artificiall-intelligence.jpg), #f58a07;
    height: 97px;
    width: 95px;
    background-blend-mode: multiply;
    border-radius: 20px;
    right: -48px;
    top: 272px;
}

/* Left */
.doubleBlend-source6 {
    background: url(../images/smart-contract.jpg);
    border-radius: 20px;
    height: 550px;
    width: 620px;
}

.doubleBlend6 {
    position: absolute;
    background: url(../images/smart-contract.jpg), #f58a07;
    height: 97px;
    width: 95px;
    background-blend-mode: multiply;
    border-radius: 20px;
    left: -48px;
    top: 342px;
}


.doubleBlend-source7 {
    background: url(../images/play-video-finsweet1.jpg);
    border-radius: 20px;
    height: 501px;
    width: 620px;
}


/* CEO Image */
.ceo-img-name {
    display: flex;
    align-items: center;
    justify-items: left;
    width: 550px;
}

.img-ceo {
  width: 80px;
  height: 80px;
  background: url(../images/ceo-image.png);
}


.ceo-name {
  color: #063255;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0px 24px;
}


.ceo-company {
  font-size: 1rem;
  font-weight: 500;
  color: #f58a07;
  margin: 0px 24px;
}







  /* Blogs News */
  #blog-news {
    background: #dceaf5;
    height: 820px;
  }
  
  
  #blog-news .container .flex-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
    width: inherit;
    margin-top: 48px;
  }
  
  /* Hondlon container zarlah */
  #blog-news .container .flex-col .container-card2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 40px;
    width: inherit;
  }
  
  
  #blog-news .container .flex-col .container-card2 .card-white2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    width: 400px;
    height: 507px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 1px 1px 2px var(--bg-light);
  }
  
  #blog-news .container .flex-col .container-card2 .card-white2 .post-img {
    background: url(../images/post1.png) no-repeat center center/cover;
    width: 400px;
    height: 230px;
    border-radius: 20px 20px 0 0;
  }
  
  #blog-news .container .flex-col .container-card2 .card-white2 .post-img2 {
    background: url(../images/post-2.png) no-repeat center center/cover;
    width: 400px;
    height: 230px;
    border-radius: 20px 20px 0 0;
  }
  
  #blog-news .container .flex-col .container-card2 .card-white2 .post-img3 {
    background: url(../images/post-3.png) no-repeat center center/cover;
    width: 400px;
    height: 230px;
    border-radius: 20px 20px 0 0;
  }
  
  #blog-news .container .flex-col .container-card2 .card-white2 .med-title2 {
    font-size: var(--font24);
    color: var(--big-header-color);
    font-weight: 500;
    letter-spacing: -1px;
    margin-top: 2rem;
    margin: 32px 32px 0 32px;
  }
  
  #blog-news .container .flex-col .container-card2 .card-white2 .med-title2-p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    margin: 16px 32px 0 32px;
  }
  
  #blog-news .container .flex-col .container-card2 .card-white2 .post-button {
    width: inherit;
    padding: 32px;
  }
  
  #blog-news .container .flex-col .container-card2 .card-white2 .post-button a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;
  }
  

  /* -- Nav bar style -- */
  .nav-menu {
    width: 657px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.75rem;
  }
  
  .call {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    width: 173px;
    color: #f58a07;
    border-radius: 31px;
    background-color: rgba(245, 138, 7, 0.1);
    font-weight: 600;
  }
  
  .logo {
    width: 122px;
    height: 28px;
    background: url(../images/logo.svg);
    margin-top: 1.75rem;
  }
  
  .menu-items {
    width: 437px;
    display: flex;
    justify-content: space-between;
  }
  
  .nav-menu .menu-items a {
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    color: #394149;
  }
  
  .nav-menu .menu-items a:active {
    color: #f58a07;
  }
  
  .nav-menu .menu-items a:visited {
    color: #1d3444;
  }



  /* Footer heseg */
footer {
    background: #063255;
    height: 463px;
    position: relative;
  }
  
  footer #footer-img-right {
    position: absolute;
    top: 38px;
    right: 0px;
    background: #f58a07;
    width: 53px;
    height: 287px;
    border-radius: 20px 0 0 20px;
  }
  
  footer #footer-img-left {
    position: absolute;
    left: 0px;
    bottom: 0px;
    background: #f58a07;
    width: 53px;
    height: 144px;
    border-radius: 0 20px 0 0;
  }
  
  footer .container .flex-col .footer-row1 {
    display: flex;
    justify-content: space-between;
    height: 200px;
    width: 1280px;
    margin-top: 80px;
  }
  
  footer .container .flex-col .footer-row1 .footer { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #fff;
  }

  footer .container .flex-col .footer-row1 .footer .logo { 
    align-self: flex-start;
  }
  
  footer .container .flex-col .footer-row1 .col-1 .footer-title1 {
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    width: 351px;
    margin: 34px 0;
  }
  
  
  footer .container .flex-col .footer-row1 .col-1 .foot-social-logo i {
    font-size: 20px;
    margin-right: 20px;
  }
  
  
  footer .container .flex-col .footer-row1 .col-2 .footer-col-2-title,
  footer .container .flex-col .footer-row1 .col-3 .footer-col-3-title,
  footer .container .flex-col .footer-row1 .col-4 .footer-col-4-title {
    font-size: 18px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  footer .container .flex-col .footer-row1 .col-2 .footer-col-2-text,
  footer .container .flex-col .footer-row1 .col-3 .footer-col-3-text {
    font-size: 16px;
    font-weight: 500;
  }
  
  
  footer .container .flex-col .footer-row1 .col-4 #footer-email {
    color: #9c9c9c;
    text-decoration: none;
    background: #fff;
    border-radius: 31px;
    width: 342px;
    height: 54px;
    padding: 17px 32px;
    margin: 16px 0;
  }
  
  footer .container .flex-col .footer-row1 .col-4 #footer-subscribe-btn {
    color: #fff;
    background: #f58a07;
    text-decoration: none;
    width: 156px;
    height: 58px;
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 50px;
    padding: 1rem 2rem;
  }
  
  footer .container .flex-col .footer-row2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 1280px;
    margin-top: 80px;
  }
  
  
  footer .container .flex-col .footer-row2 .footer-copyright {
    color: #fff;
  }
  
  footer .container .flex-col .footer-row2 .privacy-text {
    color: #fff;
  }
  /* FOOTER END */