:root {
    --primary-color: #F58A07;
    --secondary-color: #fff;
    --medium-header-color: #063255;
    --big-header-color: #0D1317;
    --bg-light: #DCEAF5;
    --bg-lightB: #EDF7FF;
    --bg-dark: #063255;
    --gray: #5B5B5B;
    --black: #1D3444;

    /* Font size 16px-ees to REM */
    /* 64px */
    --font64: 4rem;
    /* 48px */
    --font48: 3rem;
    /* 36px */
    --font36: 2.25rem;
    /* 24px */
    --font24: 1.5rem;
    /* 18px */
    --font18: 1.125rem;
    /* 16px */
    --font16: 1rem;

    /* Test hiihed zoriulaw */
    --test1-border: 1px solid red;
    --test2-border: 1.5px solid #01b780;
}

* {
    box-sizing: border-box;
    font-family: 'Popping', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



body {
    max-width: 1920px;
    /* max-height: 6613px; */
}

/****************** CSS Resused Code here - Mainly used style Code ****************/

.container {
    max-width: 1280px;
    margin: 0px auto;
}

.container .container-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.margin-1 {
    margin: 0.8rem 0;
}

.margin-2 {
    margin: 2rem 0;
}

.m1-5px {
    margin: 1px 5px;
}

.m2rem {
    margin-top: 1.75rem;
}

.p-1 {
    padding: 1rem 0;
}
.p-2 {
    padding: 2rem 0;
}
.padding-1 {
    padding: 1rem;
}

.padding-2 {
    padding: 2.25rem;
}

.removeMargin {
    margin: 0 0;
}

.w500 {
    font-weight: 500;
}

.w600 {
    font-weight: 600;
}

.bg-light-center {
    background: var(--bg-lightB);
}

.bg-light-bottom {
    background: var(--bg-light);
}

/* Main used style CSS Reused code end */

.nav-menu {
    width: 657px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.call {
    height: 52px;
    width: 173px;
    color: var(--primary-color);
    border-radius: 31px;
    background-color: rgba(245, 138, 7, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo {
    width: 122px;
    height: 28px;
    background: url(../images/logo.svg);
}

.menu-items {
    width: 437px;
    display: flex;
    justify-content: space-between;
}

.nav-menu .menu-items a {
    text-decoration: none;
    font-size: var(--font16);
    line-height: var(--font24);
    font-weight: 600;
}

.nav-menu .menu-items a:active {
    color: var(--primary-color);
}

.nav-menu .menu-items a:visited {
    color: var(--black);
}

/* Show case style Start */
/* background light blue */
#showcase {
    background: var(--bg-light);
}

#showcase .container .container-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

#showcase .container .container-content .showcase-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* padding-right: 0.75rem; */
}

#showcase .container .container-content .showcase-text .p1 {
    font-size: var(--font64);
    color: var(--black);
    width: 576px;
    margin: 12px 0;
}

#showcase .container .container-content .showcase-text .p2 {
    font-size: var(--font18);
    width: 576px;
}

#showcase .container .container-content .showcase-text .btn {
    flex: none;
    width: 12.43rem;
    padding: 0.8rem 2.5rem;
    text-align: center;
    border-radius: 20px;
    /* transition: all 1s ease-in-out; */
}

/* Button 1 */
#showcase .container .container-content .showcase-text .btn-first {
    background: var(--primary-color);
    color: var(--secondary-color);
}

/* Button 2 */
#showcase .container .container-content .showcase-text .btn-second {
    background: var(--bg-light);
    color: var(--black);
}

/* #showcase .container .container-content .btn:hover {
    background: var(--medium-header-color);
    color: var(--secondary-color);
} */

/* Image 1 */
#showcase .container .container-content .showcase-image {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 703px;
    background: url(https://m24-development-images.s3.ap-southeast-1.amazonaws.com/assignment/images/header-image.png) center center/cover;
}

#showcase .container .container-content .showcase-text .showcase-logo-text {
    margin: 4rem 0 1rem 0;
    color: var(--gray);
    text-align: center;
}

#showcase .container .container-content .showcase-text .showcase-logos {
    display: flex;
    justify-content: space-between;
    min-width: 560px;
}


/* We Work 1 Design Style */
/* Card container class */
#what-we-work-1 .container .container-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* align-items: center; */
    justify-content: center;
}

#what-we-work-1 .container .container-content .p1 {
    font-size: var(--font48);
    color: var(--black);
    width: 735px;
    line-height: 56px;
}

#what-we-work-1 .container .container-content .p2 {
    font-size: var(--font18);
    width: 735px;
}


/* CARD container CARD DESIGN */
#what-we-work-1 .container .container-content .card-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 40px;
    margin: 50px 0;
}

#what-we-work-1 .container .container-content .card-container .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 470px;
}

#what-we-work-1 .container .container-content .card-container .card .img-card {
    border-radius: 20px;
    overflow: hidden;
    width: 399px;
    height: 242px;
    border-radius: 20px;
    margin-bottom: 33px;
}

#what-we-work-1 .container .container-content .card-container .card .title-card {
    font-size: var(--font24);
    font-weight: 600;
    color: var(--big-header-color);
    align-self: baseline;
    margin-bottom: 0px 0px 17px 0px;
    letter-spacing: -3%;
}

#what-we-work-1 .container .container-content .card-container .card .text-card {
    font-size: var(--font16);
    line-height: 28px;
    margin: 0 0 24px 0;
}

#what-we-work-1 .container .container-content .card-container .card a {
    font-size: var(--font16);
    color: var(--primary-color);
    font: normal;
    text-decoration: none;
}


/* WHAT WE WORK 2 HESEG */
/* Row flex */
#what-we-work-2 .container .container-content {
    flex-direction: column;
    padding: 96px 0;
}

#what-we-work-2 .container .container-content .we-work-challenge {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 40px;
}

#what-we-work-2 .container .container-content .we-work-challenge .work-title {
    font-size: var(--font36);
    color: var(--big-header-color);
    flex-basis: 50%;
}

#what-we-work-2 .container .container-content .we-work-challenge .work-para {
    font-size: var(--font16);
    line-height: 30px;
    flex-basis: 50%;
}

/* Row flex */
#what-we-work-2 .container .container-content .card-container-white {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 40px;
}

/* Column flex */
#what-we-work-2 .container .container-content .card-container-white .card-white {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    width: 400px;
    height: 277px;
    background: var(--secondary-color);
    padding: 48px 24px 37px 41px;
    border-radius: 20px;
    box-shadow: 1px 1px 2px var(--bg-light);
}

#what-we-work-2 .container .container-content .card-container-white .card-white img {
    width: 41px;
}

#what-we-work-2 .container .container-content .card-container-white .card-white .med-title {
    font-size: var(--font24);
    color: var(--big-header-color);
    margin-top: 2rem;
    margin-bottom: 0px;
}
/* WORK 2 Heseg ---INVOICE SUPPORT SURVEY--- END */


/* The energy of a START-UP begin */

/* 1 1 1 1 1 1 1 */
#about-us .container .container-content .start-up {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0;
    width: 100%;
}

#about-us .container .container-content .start-up .experience-left {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: flex-start;
    width: 596px;
}

#about-us .container .container-content .start-up 
.experience-left .e1 {
    color: var(--big-header-color);
    line-height: 56px;
    font-size: var(--font48);
}

#about-us .container .container-content .start-up 
.experience-left .e2 {
    line-height: 30px;
    font-size: var(--font18);
    font-weight: 500;
    width: 510px;
}

#about-us .container .container-content .start-up 
.experience-left .has-2child {
    display: flex;
    justify-items: center;
    align-items: flex-start;
    margin: 48px 0;
}

#about-us .container .container-content .start-up 
.experience-left .has-2child .child {
    display: flex;
    flex-direction: column;
    justify-items: stretch;
    align-items: flex-start;
    width: 264px;
}

#about-us .container .container-content .start-up 
.experience-left .has-2child .child .child-no {
    color: var(--primary-color);
    font-size: var(--font36);
    font-weight: 700;
}

#about-us .container .container-content .start-up 
.experience-left .has-2child .child .child-title {
    color: var(--big-header-color);
    font-size: var(--font24);
    margin: 1rem 0;
}

#about-us .container .container-content .start-up 
.experience-left .has-2child .child .child-text {
    line-height: 28px;
    font-size: var(--font16);
}

#about-us .container .container-content .start-up 
.experience-image {
    display: inline-block;
}

#pretty-woman {
    position: relative;
    background: url(https://m24-development-images.s3.ap-southeast-1.amazonaws.com/assignment/images/about-image.png) no-repeat center center/cover;
    height: 667px;
    width: 637px;
    z-index: -1;
    border-radius: 20px;
    mix-blend-mode: multiply;
}

#orangeBox-on-image {
    position: absolute;
    background: url(../images/orange-side.png) no-repeat center/cover;
    height: 667px;
    width: 153px;
    opacity: 0.8;
    border-radius: 20px 0 0 20px;
}
/* 1 1 1 1 1 1 1 1 */

/* Experience Start-up Service 2 dugaar mor - ROW 2 */




/* The energy of a START-UP END */

































footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: var(--test1-border);
}