* {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

/* Links */
a {
    text-transform: capitalize;
    font-weight: 600;
    line-height: 106.5%;
    font-style: normal;
    text-decoration: none;
}

/* main content width */
body {
    margin: 5px 0 5px 0;
}

.contents {
    max-width: 1280px;
    margin: 0 auto;
    padding: 50px 0 50px 0;
}

.contents h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    /* or 117% */
    letter-spacing: -0.03em;
    color: #1D3444;
}

.article {
    max-width: 735px;
    margin-top: 75px;
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 30px;
}

.align-between {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height: 100%;
}

/* header starts here */
.main-nav {
    display: flex;
    justify-content: space-between;
    height: 90px;
    max-width: 1280px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
}

.nav-item {
    margin: 30px 30px;
}

#finsweet {
    height: 28px;
    margin: 28px 0 28px;
}

.navbar a {
    line-height: 24px;
    color: #394149;
    white-space: nowrap;
}

#call-to a {
    color: #F58A07;
    padding: 18px 30px;
    background: rgba(245, 138, 7, 0.1);
    border-radius: 31px;
}

/* slider starts here */

.slider-back {
    background: #DCEAF5 100vw;
    height: 703px;
}

.f-slider {
    height: 819px;
    background: #DCEAF5;
}

.slider {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    height: 100%;
}

.slider-article {
    display: flex;
    flex-flow: column;
    align-content: space-between;
    align-items: baseline;
    margin: 80px 0px 80px 0;
}

.slider-article h1 {
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    /* or 112% */
    letter-spacing: -0.03em;
    margin-bottom: 0;
    color: #1D3444;
}

.slider-article a {
    margin-top: 50px;
    margin-bottom: 75px;
    white-space: nowrap;
}

#article-buttons {
    display: flex;
    gap: 40px;
    align-items: center;
}

.slider-article div {
    border: 0;
}

.slider-img {
    width: 685px;
    margin-left: 50px;
    align-self: flex-end;
}

#greyish {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    /* identical to box height, or 167% */
    color: rgba(57, 65, 73, 0.5);
    margin: 0 0 18px 0;
}

#img-orange {
    height: 518px;
    overflow: hidden;
    width: 100%;

}

/* positions */

.align-center {
    align-content: center;
}

.between {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.flex {
    display: flex;
}

.article-flex {
    display: flex;
    line-height: 28px;
    color: #1D3444;
    justify-content: space-between;
}

/* gaps */
.gap-24 {
    gap: 24px;
}

.gap-40 {
    gap: 40px;
}

.gap-110 {
    gap: 110px;
}

.max-w270 {
    max-width: 270px;
}

.max-w400 {
    max-width: 400px;
}

.max-w550 {
    max-width: 550px;
}

.max-w600 {
    max-width: 600px;
}

.max-wf {
    max-width: fit-content;
}

.padding-48 {
    padding: 48px;
}

.padding-32 {
    padding: 32px;
}

.article-flex div {
    margin-top: 15px;
}

.article-header {
    font-size: 24px;
    line-height: 106.5%;
    /* or 26px */
    letter-spacing: -0.03em;
    color: #0D1317;
}

/* headers */

.header {
    font-weight: 600;
    letter-spacing: -0.03em;
    color: #0D1317;
}

.big-h {
    font-size: 48px;
    line-height: 56px;
}

.med-h {
    font-size: 36px;
    line-height: 44px;
}

.small-h {
    font-size: 24px;
    line-height: 106.5%;
    letter-spacing: -0.03em;
    color: #0D1317;
}

/* backgrounds */

/* backgrounds by size */
.little-bg {
    border-radius: 20px;
    height: 242px;
    max-width: 400px;
    line-height: 28px;
    padding: 40px;
}

.half-bg {
    border: 0;
    border-radius: 20px;
    height: auto;
    width: 620px;
}

/* backgrounds by color */

.blueish-bg {
    background: #EDF7FF;
}

.white-bg {
    background: #FFFFFF;
}

.border-radius {
    border-radius: 20px;
}

/* background images */
#post1 {
    background: url(/Nico/Assignment/images/post-1.png) center / cover;
}

#post2 {
    background: url(/Nico/Assignment/images/post-2.png) center / cover;
}

#post3 {
    background: url(/Nico/Assignment/images/post-3.png) center / cover;
}

#smiling {
    background: url(https://m24-development-images.s3.ap-southeast-1.amazonaws.com/assignment/images/about-image.png) center / cover;
    isolation: isolate;
}

#ribbon {
    background-image: url('../images/Ribbon.png') no-repeat scroll 0 0 transparent;
    background-position: 0 0;
    z-index: 100;
    /* background stacks */
}

#team {
    background-image: url(../images/team.png);
    width: 472px;
    height: 466px;
}

.orange-stack {
    background: #F58A07;
    border-radius: 20px 0px 0px 20px;
    left: 0;
    top: 0;
    mix-blend-mode: multiply;
}

#smiling-stack {
    width: 153px;
    height: 670px;
    margin: 0;
}

#phone-talking {
    background: url(https://m24-development-images.s3.ap-southeast-1.amazonaws.com/assignment/images/experience-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

#team-stack {
    width: 120px;
    height: 466px;
    margin: 0;
}

#ribbon {
    justify-self: flex-end;
    height: 178px;
    width: 179px;
    margin: -64px -64px 0 0;
}

.orange {
    color: #F58A07;
}

.white {
    color: #FFFFFF;
}

/* Buttons */

.button {
    padding: 8px 24px;
    border-radius: 31px;
    max-width: fit-content;
    white-space: nowrap;
}

.height-40 {
    height: 40px;
}

.orange-bg {
    background: #F58A07;
    color: #FFFFFF;
    border-radius: 27px;
    line-height: 17.04px;
    /* padding: 18px 32px 19px 32px; */
    padding: 5% 10%;
}

.grey-30 {
    line-height: 24px;
    color: rgba(6, 50, 85, 0.3);
    border: 1px solid #A8BCCC
}

.white-button {
    background: #FFFFFF;
}

.font-18 {
    font-size: 18px;
}


#orange-bg-half {

    background: #F58A07;
    width: 100%;
}

#orange-article {
    padding: 128px 0 0 128px;
    max-width: 532px;
    display: flex;
    flex-direction: column;
}

/* little elements */

#chikelu {
    font-size: 24px;
    line-height: 171%;
}

#chikelu-neo {
    margin-top: 40px;
}

.border-r {
    border-radius: 20px;
    overflow: hidden;
}

.img-cover {

}