* {
    font-family: 'Poppins' , sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
body{
    max-width: 1280px;
    box-sizing: border-box;
}
.container{
    max-width: 1280px;
}
header{
    display:flex;
    flex-flow: row;
    justify-content: space-between;
    align-content:center; 
}
.menu1{
    align-self: flex-end;
}
.logo1{
    margin-top: 28px;
    width: 122px;
    height: 28px;
}
.cta{
    width: 173px;
    height: 52px;
    background: rgba(245, 138, 7, 0.1);
    border-radius: 31px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.navbar{
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    column-gap:30px;
    list-style: none;
}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a{
    color: inherit;
}
main{
    display: flex;
    height:703px;
    background: #dceaf5;
    flex-direction: row;
}
.main-left{
    display:flex;
    width: 576px;
    height: 439px;
    flex-flow: column ;
    gap: 30px;
    
}
.main-header{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
}
.main1{
    font-size: 64px;
    line-height: 72px;
    color: #1d3444;
    width:576px;
    height:144px;
    margin:0px;
    margin-top:117px;
}
.maintext{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5b5b5b;
    width: 571px;
    height: 60px;
    margin: 0px;
    padding: 0px;
}
.main-buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap:30px;
    align-items: center;
    margin-top: 32px;
}
.button1{
    width: 199px;
    height: 54px;
    border-radius: 27px;
    background: #f58a07;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
}
.p1{
    display:flex;
    margin-top: 56px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #394149;
    opacity: 0.5;
}
.logo2{
    width: 143px;
    height: 33px;
}
.logo3{
    width: 134px;
    height: 31px;
}
.logo4{
    width: 140px;
    height: 32px;
}
.main-logos{

    display:flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 18px;
}
.main-right{
    display:flex;
    align-self: flex-end;
}
.help-main{
    display:flex;
    flex-direction: column;

}
.header2{
    width:735px;
    height:112px;
    font-size: 48px;
    line-height: 56px;
    font-weight: 600;
}
.help-p{
    width:735px;
    height:90px;
    font-size: 18px;
    line-height:30px;
    font-weight: 500;
    color: #5b5b5b;
}
.help-pic{
    display:flex;
    flex-direction: row;
}
.help-1{
    display:flex;
    flex-direction: column;
    
}
.help-pic-1{
    display:flex;
    align-content: center;
    border-radius: 20px;
}
img{
    border-radius: 20px;
}
.help-head1{
    font-size: 24px;
    font-weight: 500;
 
}
.help-body1{
    font-size:16px;
    line-height:28px;
    
    color:#5b5b5b;
}
.help-button1{
    font-size:16px;
    font-weight:500px;
    line-height:17.04px;
    color:#f58a07;
    width:120px;
    height: 17px;
}
.feature{
    width:1280px;
    height:665px;
    background: #edf7ff;
    margin-top:97px;
    display:flex;
    flex-direction: column;
    gap:64px;
}
.feature01{
    display: flex;
    justify-content: center;
    gap:40px;
    margin-top: 96px;
}
.feature02{
    display:flex;
    gap:40px;
}
.feature1{
    font-size:36px;
    font-weight:600;
    line-height: 44px;
    width: 619px;
    height:132px;
}
.feature2{
    font-size:18px;
    font-weight:500;
    line-height: 30px;
    width: 620px;
    height:102px;
    color: #1d3444;
}
.feature3{
    display:flex;
    flex-direction: column;
    border: 0 solid #ffffff;
    border-radius: 20px;
    width: 401px;
    height: 277px;
    background: #ffffff;
    justify-content: space-evenly;
    padding-left: 40px;

}
.feature3-2{
    font-weight:600;
    font-size: 24px;
    line-height: 25.56px;
}
.feature3-3{
    font-weight:500;
    font-size: 16px;
    line-height: 28px;
    color:#5b5b5b;
}
.about{
    display:flex;
}
.upper-text1{
    width:596px;
    height:157px;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0d1317;
    margin-top: 166px;
}
.upper-text2{
    width: 510px;
    height: 120px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    color:#5b5b5b;
    margin-top: 32px;
}
.bottom-text{
    display:flex;

}
.bottom-text11{
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color:#f58a07;
}
.bottom-text12{
    font-weight: 600;
    font-size: 24px;
    line-height: 106.5%;
    color:#0d1317;
    letter-spacing: -0.03em;
}
.bottom-text13{
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #5b5b5b;
}
.bottom-text1{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 16px;
}
.about-pic{
    margin-top: 96px;
    background: #f58a07 center / cover;
    mix-blend-mode: multiply;
    
}