* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

header {
    text-align: center;
}

main {
    display: flex;
    min-height: 800px;
    justify-content: space-between;
}

aside {
    
}