* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 16px;
}

/* .logo-head {
    background-color:bisque;
    border: 1px solid red;

} */

.menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    margin-bottom: 16px;
}
.list {
    margin: 10px;
    text-decoration: none;
    color: #394149;
}

.fin-logo {
    width: 122px;
    height: 28;
    padding-left: 15px;
    margin-top: -15px;
}


.action {
    margin-left: 30px;
    font-size: 16px;
    color: #F58A07;
    background-color: #F58A071A;
    text-decoration: none;
    width: 173px;
    height: 52px;
    border-radius: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
}