/* ------------- APPLICABLE TO ALL  -------------*/

* {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  font-style: normal;
}

div {
  margin: 0;
  padding: 0;
}

/* ------------- GENERAL BG FORMAT  -------------*/

.blue {
  background-color: #dceaf5;
}

.white {
  background-color: #ffffff;
}

.ligth-blue {
  background-color: #edf7ff;
}

.orange {
  background-color: #f58a07;
}

.dark-blue {
  background-color: #063255;
}

/* ------------- GENERAL FORMAT  -------------*/

/* Container & Header & Text */
.container {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  color: #5b5b5b;
}

.header-c {
  font-size: 16px;
}

.features-c {
  flex-direction: column;
  padding-top: 102px;
  padding-bottom: 96px;
}

.about-c {
  padding-top: 88.3px;
  padding-bottom: 85px;
}

h1 {
  font-size: 64px;
  color: #1d3444;
  line-height: 72px;
  font-style: normal;
  font-weight: 600;
  display: flex;
  letter-spacing: -0.03em;
}

h2 {
  font-size: 48px;
  color: #1d3444;
  line-height: 56px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.03em;
}

h3 {
  color: #0d1317;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.03em;
  font-style: normal;
}

h4 {
  font-size: 24px;
  color: #0d1317;
  letter-spacing: -0.03em;
  line-height: 106.5%;
  font-weight: 500;
  font-style: normal;
}

.text-18px {
  color: #5b5b5b;
  line-height: 30px;
  display: flex;
  font-size: 18px;
  flex-wrap: wrap;
  font-weight: 500;
}

.column-container {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  margin: 0;
  padding: 0;
}

.column {
  display: flex;
  flex-direction: column;
}

.content-box-left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  width: 50%;
}

.content-box-right {
  margin-top: 58px;
  width: 50%;
}

.head-48 {
  font-size: 48px;
  color: #0d1317;
  line-height: 56px;
  font-weight: 600;
  display: flex;
}

.text1 {
  padding-top: 20px;
  color: #5b5b5b;
  line-height: 30px;
  display: flex;
  flex-wrap: wrap;
}

/*  --- button config --- */
.a-button {
  border-radius: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
}

.a-button:hover {
  text-shadow: 1px 1px 2px rgb(195, 195, 195);
}

.orange-btn {
  color: #ffffff;
  background-color: #f58a07;
}

.white-btn {
  color: #f58a07;
  background-color: #ffffff;
}

/* ------------- HEADER  -------------*/

.header-c .content-box-left {
  margin-top: 117px;
}

.head-txt {
  padding-top: 1em;
}

.header-all-buttons {
  display: flex;
  align-items: center;
  padding-top: 25px;
}

.header-c .a-button {
  width: 199px;
  height: 54px;
}

.services-see {
  margin-left: 40px;
  text-decoration: none;
  color: #1d3444;
  text-transform: capitalize;
}

.worked {
  font-weight: 400;
  font-size: 18px;
  color: rgba(57, 65, 73, 0.5);
  padding-top: 50px;
}

.header-all-logo {
  display: flex;
  padding-top: 20px;
}

.header-all-logo img {
  padding-right: 30px;
}

/* ------------- HELP  -------------*/

.help-c {
  flex-direction: column;
  padding-bottom: 50px;
}

.help-c h2 {
  max-width: 800px;
}

.help-c {
  margin-top: 96px;
}

.help-txt {
  max-width: 60%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.help-c h4 {
  padding-top: 33px;
  padding-bottom: 17px;
}

.learn-more {
  padding-top: 24px;
  font-size: 16px;
}

.learn-more a {
  text-decoration: none;
  color: #f58a07;
}

.col-with-margin-40 {
  margin: 40px 40px 40px 0;
}

.right-margin-40 {
  margin-right: 40px;
}

.column-container img {
  border-radius: 20px;
}

/* ------------- FEATURES  -------------*/

.features-c h4 {
  max-width: 50%;
  padding: 32px 0 18px 0;
  margin: 0;
}

.features-c .text-18px {
  max-width: 50%;
  margin-left: 20px;
  color: #1d3444;
}

.features-c .column-container .column {
  margin: 64px 0px 0px 0px;
}

.features-c .column {
  background-color: #ffffff;
  padding: 48px 20px 37px 38px;
  border-radius: 20px;
}

.features-c .column-container .col2 {
  margin-left: 40px;
  margin-right: 40px;
}

/* ------------- ABOUT  -------------*/

.about-c .text-18px {
  padding-top: 32px;
}

.about-c h4 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.about-c .column-container .column {
  padding: 0;
  margin: 0;
  margin-top: 48px;
}

.about-c .column:nth-child(2) {
  margin-left: 26px;
  margin-right: 83px;
}

.yellow-bold-text {
  font-size: 36px;
  line-height: 50px;
  font-weight: 700;
  font-family: "Inter";
  font-style: normal;
  color: #f58a07;
}

.img-container {
  background-image: url("https://m24-development-images.s3.ap-southeast-1.amazonaws.com/assignment/images/about-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 640px;
  border-radius: 20px;
  padding-top: 10px;
  display: flex;
  margin-top: 0;
  padding-top: 0;
}
.img-container img {
  display: flex;
  align-items: stretch;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  mix-blend-mode: multiply;
}

/* ------------- SERVICE  -------------*/

/* ---container--- */
.service-c {
  flex-direction: column;
  justify-content: space-around;
  padding-top: 48px;
  padding-bottom: 48px;
  position: relative;
}
.service-c .text-18px {
  padding-top: 25px;
  line-height: 30px;
  padding-right: 90px;
}
.service-c .column-container {
  justify-content: space-between;
}

.service-c .content-box-left {
  align-items: flex-start;
}

.service-c .content-box-left {
  padding-left: 48px;
  padding-right: 140px;
}

.service-all-buttons {
  padding-left: 48px;
  padding-bottom: 80px;
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.digitalization-button {
  margin-left: 24px;
  margin-right: 24px;
}

.service-c .learn-more {
  padding-top: 40px;
}

.service-c h2 {
  color: #0d1317;
}

.business-button {
  background-color: #ffffff;
  color: #f58a07;
  border-radius: 31px;
  width: 194px;
  height: 40px;
  border: 0;
  font-weight: 600;
  font-size: 16px;
  font-style: normal;
}

.digitalization-button {
  background-color: #edf7ff;
  color: #0632554d;
  border: 2px solid #a8bccc;
  border-radius: 31px;
  width: 155px;
  height: 40px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
}

.risk-button {
  background-color: #edf7ff;
  color: #0632554d;
  border: 2px solid #a8bccc;
  border-radius: 31px;
  width: 183px;
  height: 40px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
}

.service-c .img-container {
  background-image: url("../images/team.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 472px;
  height: 466px;
  border-radius: 20px;
  padding-top: 10px;
  display: flex;
  margin-top: 0;
  padding-top: 0;
  margin-right: 42.39px;
}

.woman-pic img {
  display: flex;
  align-items: stretch;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  mix-blend-mode: multiply;
}

.ribbon {
  position: absolute;
  margin-left: 1116px;
  margin-top: -60px;
}

/* ------------- GTA  -------------*/

.GTA-c {
  display: flex;
}

.GTA .column-container {
  display: flex;
  justify-content: space-between;
  height: 518px;
}

.gta-col1 {
  background: url(../images/Imageblack-pic.png);
  width: 50%;
  background-size: cover;
  background-repeat: none;
  height: 518px;
}

.gta-col2 {
  background-color: #f58a07;
  width: 50%;
  height: 518px;
}

.GTA h2 {
  margin: 128px 0px 0px 128px;
  color: #ffffff;
  max-width: 532px;
}

.GTA .a-button {
  width: 194px;
  height: 40px;
  margin: 40px 0px 128px 128px;
}

/* ------------- VIDEO  -------------*/

.video-c {
  margin-top: 128px;
  margin-bottom: 128px;
}
.video-c .content-box-left {
  margin-right: 106px;
}
.video-c h2 {
  color: #0d1317;
  line-height: 56px;
  letter-spacing: -0.03em;
  margin-bottom: 26px;
  margin-top: 76px;
}
.video-c h4 {
  color: #063255;
  line-height: 41px;
}

.video-profile-txt {
  color: #f58a07;
}

.video-c .column-container {
  margin-top: 40px;
  justify-content: flex-start;
}

.video-c .column2 {
  margin-left: 24px;
}

.video-image {
  width: 620px;
  height: 501px;
  position: relative;
}
.video-image img {
  position: absolute;
}
.video-c .circle {
  bottom:40px;
  left: 40px;
}

/* .video-c .circle:hover {
  box-shadow: 0px 0px 0px 3px white;
} */

.video-c .play {
  bottom:59px;
  left: 60px;
}

.play-text {
  bottom: 50px;
  left: 100px;
  position: absolute;
  color: #ffffff;
  z-index: 100;
  text-decoration: none;
}

.play-text:hover {
  text-shadow: 2px 2px 4px white;
}



/* ------------- LATEST BLOG & NEWS -------------*/

.latest-c {
  flex-direction: column;
  padding: 96px 0px 56px 0px;
}

.latest-c h2 {
  padding-bottom: 30px;
}

.latest-c h4 {
  line-height: 36px;
  margin-top: 0;
  margin-top: 26px;
  margin-bottom: 16px;
}

.latest-c .txt-container {
  padding-left: 32px;
  padding-right: 32px;
  background-color: #ffffff;
  margin-top: 0;
  border-radius: 0px 0px 20px 20px;
}

.latest-c .column {
  border-bottom-left-radius: 15px;
}

.latest-c img {
  margin: 0;
  padding: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.latest-c .learn-more {
  padding-bottom: 25px;
}

/* ------------- FOOTER -------------*/
.footer-c {
  position: relative;
  display: flex;
  color: #fff;
  flex-direction: column;
  height: 463px;
  font-weight: 500;
}

.footer-c .column-container {
  padding: 0;
  margin: 0;
  padding-top: 80px;
}

.footer-c .column-container .column {
  padding: 0;
  margin: 0;
}

.footer-c h3 {
  color: #ffffff;
  width: 351px;
  padding-top: 25px;
}

.footer-c img {
  border-radius: 0;
}

.footer-social-logo {
  padding-top: 25px;
}

.footer-c .fa {
  padding-right: 23px;
}

.copyright {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  line-height: 24px;
}

span {
  margin-left: 32px;
}

.footer-c .col-m div {
  padding-bottom: 16px;
  font-weight: 500;
}

.footer-c .text-18px {
  color: #ffffff;
  padding-bottom: 32px;
  text-decoration: none;
}

.footer-c a {
  color: #ffffff;
  text-decoration: none;
}

.footer-c a:hover {
  color: #ffca5f;
  text-decoration: none;
  text-shadow: 2px 2px 5px #4d7ba1;
}

.footer-c input {
  padding-left: 32px;
  height: 54px;
  width: 306px;
  border-radius: 31px;
  font-style: "Inter";
  font-style: normal;
  margin-bottom: 16px;
}

.footer-c .a-button {
  height: 54px;
  width: 156px;
}

.shape-right {
  position: absolute;
  top: 38px;
  left: 1320px;
}

.shape-left {
  position: absolute;
  top: 319px;
  left: -95px;
}

/* ------ SERVICE - HEADER --------*/
.service-header-c {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.service-header-c .content-box-left {
  padding-top: 120px;
}

.service-header-c .text-18px {
  max-width: 510px;
  padding-top: 24px;
}

.service-header-c .a-button {
  margin-top: 32px;
  width: 171px;
  height: 54px;
}

.service-header-c .img-container {
  background-image: url("../images/service-header.png");
  width: 616px;
  height: 650px;
}

/* ------ SERVICE-FEATURE-default settings --------*/

.yellow-box-img {
  position: absolute;
  mix-blend-mode: multiply;
  width: 95px;
  height: 97px;
}

.size-620x550 {
  min-width: 620px;
  min-height: 550px;
  position: relative;
}

ul {
  padding-top: 20px;
  padding-left: 25px;
  line-height: 28px;
}

.orange-button {
  background-color: #f58a07;
  border-radius: 27px;
  width: 171px;
  height: 54px;
}

.orange-button a {
  color: #ffffff;
  text-decoration: none;
  padding: 18px 32px 19px 32px;
  margin: 0 auto;
}

/* ------ SERVICE-FEATURE-1 --------*/

.feature-1-c .img-container {
  background-image: url("../images/service-feature1.png");
  width: 620px;
  height: 550px;
  margin-top: 128px;
  margin-left: 10px;
}

.feature-1-c .yellow-box-img {
  margin-top: 128px;
  margin-left: -45px;
}

.feature-1-c .content-box-right {
  margin-top: 256px;
  margin-left: 76px;
}

.feature-1-c h2 {
  margin-bottom: 24px;
}

/* ------ SERVICE-FEATURE-2 --------*/

.feature-2-c .img-container {
  background-image: url("../images/service-feature2.png");
  margin-top: 128px;
  width: 620px;
  height: 550px;
}

.feature-2-c .yellow-box-img {
  margin-top: 272px;
  margin-left: 545px;
}

.feature-2-c .content-box-left {
  margin-top: 256px;
  margin-right: 70px;
}

.feature-2-c h2 {
  margin-bottom: 24px;
}

/* ------ SERVICE-FEATURE-3 --------*/

.feature-3-c .img-container {
  background-image: url("../images/service-feature3.png");
  margin-top: 128px;
}

.feature-3-c .yellow-box-img {
  margin-top: 217px;
  margin-left: -45px;
}

.feature-3-c .content-box-right {
  margin-top: 256px;
  margin-left: 76px;
}

.feature-3-c h2 {
  margin-bottom: 24px;
}

/* ------ SERVICE-FEATURE-4 --------*/

.feature-4-c .img-container {
  background-image: url("../images/service-feature4.png");
  margin-top: 128px;
}

.feature-4-c .yellow-box-img {
  margin-top: 272px;
  margin-left: 545px;
}

.feature-4-c .content-box-left {
  margin-top: 256px;
  margin-right: 70px;
}

.feature-4-c h2 {
  margin-bottom: 24px;
}

/* ------ SERVICE-FEATURE-5 --------*/

.feature-5-c .img-container {
  background-image: url("../images/service-feature5.png");
  margin-top: 128px;
}

.feature-5-c .yellow-box-img {
  margin-top: 342px;
  margin-left: -45px;
}

.feature-5-c .content-box-right {
  margin-top: 256px;
  margin-left: 76px;
}

.feature-5-c h2 {
  margin-bottom: 24px;
}

/* ------ CAREERS - HEADER --------*/
.careers-header-c {
  margin-top: 70px;
}

.careers-header-c .content-box-left {
  padding-top: 120px;
}

.careers-header-c .text-18px {
  max-width: 510px;
  padding-top: 24px;
}

.careers-header-c .a-button {
  margin-top: 32px;
  width: 171px;
  height: 54px;
}

.careers-header-c .img-container {
  background-image: url("../images/careers-1.png");
  width: 616px;
  height: 650px;
}

.careers-header-c .img-container img {
  width: 180px;
}

/* ------ CAREERS - SECTION--------*/

.careers-section-c {
  display: flex;
  flex-direction: column;
  padding-top: 128px;
  padding-bottom: 88px;
}

.careers-section-c h2 {
  max-width: 50%;
  margin: 0;
}

.careers-section-c h4 {
  margin-bottom: 8px;
}

.careers-section-c .text-18px {
  max-width: 50%;
  margin-left: 20px;
  color: #1d3444;
}

.careers-section-c .column-container .column {
  margin-bottom: 0;
  width: 400px;
}

.careers-section-c .column {
  background-color: #c1e4ff4d;
  padding: 48px 20px 37px 38px;
  border-radius: 20px;
}

/* ------------- BLOG-HEADER  -------------*/

.blog-header-c {
  display: flex;
  justify-content: space-between;
  padding-top: 128px;
  padding-bottom: 128px;
}

.blog-header-c .content-box-left {
  margin-top: 33px;
}

.blog-header-c .content-box-right {
  margin-top: 0px;
  display: flex;
  justify-content: flex-end;
}

.blog-header-c .content-box-right img {
  border-radius: 20px;
}

.blog-header-c h1 {
  margin-top: 24px;
  margin-bottom: 24px;
  max-width: 527px;
}

.blog-header-c .head-txt {
  max-width: 559px;
}

.row-container {
  display: flex;
  align-items: center;
}

.row-container img {
  margin-right: 8px;
}

.blog-header-c .a-button {
  width: 199px;
  height: 54px;
}

/* ------------- BLOG - ALL POSTS  -------------*/
.blog-all .txt-container {
  background-color: #edf7ff;
}

.blog-all {
  margin-top: 128px;
  margin-bottom: 88px;
  padding-bottom: 0;
  padding-top: 0;
}

/* ------------- BLOG INNER  -------------*/
.blog-inner-header-c {
  margin-top: 70px;
  background-image: url("../images/blog-inner.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 1280px;
  height: 631px;
  border-radius: 20px;
}

.blog-inner-header-c img {
  border-radius: 20px;
}

.blog-inner-container {
  max-width: 752px;
  margin: 0 auto;
  margin-top: 90px;
  margin-bottom: 128px;
}

.blog-inner-container h1 {
  margin-top: 24px;
  margin-bottom: 8px;
}

.blog-inner-container .second {
  margin-top: 48px;
  margin-bottom: 8px;
}

.blog-in-txt {
  padding-top: 24px;
  color: #5b5b5b;
}

/* ------------- CAREERS INNER  -------------*/
.careers-inner-header-c {
  margin-top: 122px;
  display: flex;
  flex-direction: column;
}

.careers-inner-header-c .column-container {
  padding-top: 64px;
  padding-bottom: 64px;
}

.careers-inner-header-c .column-container:nth-child(2) {
  margin-right: 150px;
}

.careers-inner-header-c h4 {
  padding-bottom: 16px;
}

.job-description {
  width: 640px;
  font-size: 18px;
}

/* ------------- CAREERS INNER DETAILS  -------------*/
.careers-inner-details-c {
  padding: 0;
}

.careers-inner-details-c .column-container {
  align-items: flex-start;
  background-color: #c1e4ff4d;
  border-radius: 20px;
  padding: 68px 94px 69px 68px;
}
.careers-inner-details-c .column:nth-child(1) {
  padding-right: 92px;
}

.careers-inner-details-c h4 {
  padding-bottom: 40px;
}
.careers-inner-details-c h4:nth-child(1) {
  color: #f58a07;
}

.careers-inner-details-c .txt8 {
  padding-top: 25px;
}

/* ------------- CAREERS INNER FORM  -------------*/
.careers-inner-form-c {
  display: flex;
  flex-direction: column;
  margin-bottom: 128px;
}

.careers-inner-form-c h2 {
  padding-top: 128px;
  padding-bottom: 51px;
}

.careers-inner-form-c .column {
  width: 628px;
}

.careers-inner-form-c input {
  border-radius: 27px;
  height: 54px;
  background-color: #d2daed2b;
  padding-left: 17px;
  font-family: "Inter";
  border: 0;
  color: #9c9c9c;
  font-weight: 500px;
  font-style: normal;
  margin-bottom: 20px;
}

.comment {
  vertical-align: top;
  border-radius: 27px;
  background-color: #d2daed2b;
  padding-left: 17px;
  font-family: "Inter";
  border: 0;
  color: #9c9c9c;
  font-weight: 500px;
  font-style: normal;
  margin-bottom: 20px;
  padding-top: 28px;
}

.careers-inner-form-c .comment {
  width: 1263px;
  height: 215px;
}

.careers-inner-form-c .col2 {
  margin-left: 24px;
}

.careers-inner-form-c .a-button {
  width: 119px;
  height: 54px;
  margin-top: 15px;
}

/* ------------- CONTACT US -------------*/
.contact-us-c {
  display: flex;
  margin-top: 90px;
}

.contact-us-c .content-box-right {
  display: flex;
  align-content: flex-start;
  margin: 0;
}

.contact-us-c h2 {
  max-width: 561px;
  margin-bottom: 24px;
}

.contact-us-c h4 {
  margin-bottom: 16px;
  line-height: 30px;
}

.contact-us-c .location {
  padding-right: 78px;
}

/* ------------- CAREERS INNER FORM  -------------*/
.contact-us-form-map-c {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  margin-bottom: 128px;
}

.contact-us-form-map-c .column {
  width: 628px;
}

.contact-us-form-map-c input {
  border-radius: 27px;
  height: 54px;
  background-color: #d2daed2b;
  padding-left: 17px;
  font-family: "Inter";
  border: 0;
  color: #9c9c9c;
  font-weight: 500px;
  font-style: normal;
  margin-bottom: 20px;
}

.contact-us-form-map-c .comment {
  height: 160px;
}

.contact-us-form-map-c .col2 {
  margin-left: 24px;
}

.contact-us-form-map-c .a-button {
  width: 119px;
  height: 54px;
  margin-top: 15px;
}



/* ------------- CAREERS INNER FORM  -------------*/
.contact-us-submission-c {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  height: 30vh;
  margin-bottom: 100px;
}
