.container {
    max-width: 1280px;
    margin: 0 auto;
}

* {
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    gap: 32px;
    padding: 30px 0;
    color: #394149;
    flex-wrap: wrap;
}

.navbar a {
    color: #394149;
}

.but1 {
    background: #F58A071A;
    padding: 18px 30px;
    border-radius: 30px;
    color: #F58A07;
}


/*      footer       */

footer {
    background-color: #063255;
    position: relative;
}

.bottom a,
p {
    color: #ffffff;
}

.bottom1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 80px;
}

.bottom1a h2 {
    font-size: 2rem;
    color: #ffffff;
}

.vectors img {
    margin-right: 21px;
}

.bottom1b {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    font-size: 1.125rem;
}

.bottom1b p {
    margin-top: 0;
}

.bottom1b a {
    margin: 8px 0 8px 0;
}

.bottom1c {
    display: flex;
    flex-direction: column;
}

.bottom1c a {
    margin-bottom: 16px;
}

.bottom1c p {
    margin: 8px 0 8px 0;
}

.bottom1c a {
    font-size: 1.125rem;
}

.bottom1d p {
    font-size: 1.125rem;
    margin-top: 0;
}

.bottom1d {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 18px;
}

.type {
    width: 342px;
    height: 54px;
    border-radius: 31px;
    background: #ffffff;
    display: flex;
    align-items: center;
    padding-left: 32px;
}

.but5 {
    padding: 18px 32px;
    background: #F58A07;
    color: #ffffff;
    border-radius: 31px;
    width: 156px;
}

.bottom2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 84px 0 84px 0;
}

.bottom2b {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.text7 {
    color: #ffffff;
}

.shapeleft {
    width: 53px;
    height: 144px;
    border-radius: 0px 20px 0 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #F58A07;
}

.shaperight {
    width: 53px;
    height: 287px;
    background: #F58A07;
    position: absolute;
    border-radius: 20px 0 0 20px;
    right: 0;
    top: 38px;
}


/*      Blog         */

.banner {
    background-color: rgba(220, 234, 245, 1);
    padding: 128px 0 128px 0;
}

.banner1 {
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

.banner1a {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.banner1a img {
    width: 32px;
    height: 32px;
}

.banner1b {
    color: #394149;
    margin-right: 21px;
    margin-left: 21px;
}

.banner2 {
    display: flex;
}

.banner2a {
    width: 46%;
    display: flex;
    align-content: space-between;
    flex-direction: column;
}

.banner2 img {
    border-radius: 20px;
}

.banner2 h1 {
    font-size: 4rem;
    color: #1D3444;
    line-height: 72px;
}

.but {
    color: #F58A07;
    margin-top: 24px;
}