.container {
    max-width: 1280px;
    margin: 0 auto;
}

* {
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    gap: 32px;
    padding: 30px 0;
    color: #394149;
    flex-wrap: wrap;
}

.navbar a {
    color: #394149;
}

.but1 input {
    border-style: none;
    background: #F58A071A;
    padding: 18px 30px;
    border-radius: 30px;
    color: #F58A07;
    font-weight: 600;
}


/*      footer       */

footer {
    background-color: #063255;
    position: relative;
}

.bottom a,
p {
    color: #ffffff;
}

.bottom1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 80px;
}

.bottom1a h2 {
    font-size: 2rem;
    color: #ffffff;
}

.vectors img {
    margin-right: 21px;
}

.bottom1b {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    font-size: 1.125rem;
}

.bottom1b p {
    margin-top: 0;
}

.bottom1b a {
    margin: 8px 0 8px 0;
}

.bottom1c {
    display: flex;
    flex-direction: column;
}

.bottom1c a {
    margin-bottom: 16px;
}

.bottom1c p {
    margin: 8px 0 8px 0;
}

.bottom1c a {
    font-size: 1.125rem;
}

.bottom1d p {
    font-size: 1.125rem;
    margin-top: 0;
}

.bottom1d {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 18px;
}

.type input {
    width: 342px;
    height: 54px;
    border-radius: 31px;
    background: #ffffff;
    display: flex;
    align-items: center;
    padding-left: 32px;
}

.type input:focus {
    border-style: none;
    outline: none;
}

.but5 input {
    padding: 18px 32px;
    background: #F58A07;
    color: #ffffff;
    border-radius: 31px;
    border-style: none;
}

.but5 input:focus {
    outline: none;
}

.bottom2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 84px 0 84px 0;
}

.bottom2b {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.text7 {
    color: #ffffff;
}

.shapeleft {
    width: 53px;
    height: 144px;
    border-radius: 0px 20px 0 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #F58A07;
}

.shaperight {
    width: 53px;
    height: 287px;
    background: #F58A07;
    position: absolute;
    border-radius: 20px 0 0 20px;
    right: 0;
    top: 38px;
}


/*          Services.html         */


/*      Main Part1        */

#s1 {
    display: flex;
    flex-direction: row;
    margin: 90px 0 90px 0;
    align-items: center;
    justify-content: space-between;
}

.s1a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.s1a h1 {
    font-size: 4rem;
    line-height: 72px;
    color: #1D3444;
    max-width: 618px;
    margin-bottom: 0;
}

.s1a p {
    font-size: 1.125rem;
    color: #5B5B5B;
    width: 510px;
    margin: 24px 0;
}

.but6 {
    margin-top: 24px;
}

.but6 a {
    background: #F58A07;
    color: #ffffff;
    padding: 18px 32px;
    border-radius: 27px;
}

.s1b {
    position: relative;
}

.colored2 {
    width: 180px;
    height: 650px;
    border-radius: 20px 0 0 20px;
    background-color: rgba(245, 138, 7, 0.6);
    position: absolute;
    left: 0;
    top: 0;
}


/*      Main Part 2      */

.s2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 128px;
}

.s2a {
    position: relative;
}

.s2a img {
    border-radius: 20px;
}

.orange {
    width: 95px;
    height: 97px;
    border-radius: 20px;
    background-color: rgba(245, 138, 7, 0.7);
}

.s2p {
    position: absolute;
    top: 128px;
    left: -48px;
}

.s-text {
    width: 45%;
}

.s-text h3 {
    font-size: 3rem;
    line-height: 56px;
    margin: 24px 0 24px;
}

.s-text p,
ul,
li {
    color: #5B5B5B;
    font-style: 1.125rem;
    margin: 8px 0 8px 0;
}

.s3a {
    position: relative;
}

.s3p {
    position: absolute;
    top: 272px;
    right: -48px;
}


/* s4 */

.s4a {
    position: relative;
}

.s4p {
    position: absolute;
    top: 217px;
    left: -48px;
}


/* s5 */

.s5a {
    position: relative;
}

.s5p {
    position: absolute;
    top: 272px;
    right: -48px;
}


/* s6*/

.s6a {
    position: relative;
}

.s6p {
    position: absolute;
    top: 342px;
    left: -48px;
}

.s-last {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}


/*      Video section        */

.video {
    height: 757px;
    display: flex;
    align-items: center;
}

.video1 h1 {
    font-size: 3rem;
    color: #0d1317;
    font-weight: 600;
}

.video1 p {
    font-size: 1.125rem;
    color: #5B5B5B;
}

.name h2 {
    font-size: 1.5rem;
}

.name h3 {
    font-size: 1.125rem;
    color: #F58A07;
    margin-top: -15px;
}

.ceo img {
    width: 80px;
    height: 80px;
}

.ceo {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
}

.video2 {
    position: relative;
}

.playvideo {
    position: absolute;
    left: 107px;
    bottom: 50px;
    color: #ffffff;
    font-size: 1.125rem;
}

.circle {
    width: 51px;
    height: 51px;
    background: #ffffff;
    border-radius: 50%;
    position: absolute;
    bottom: 40px;
    left: 40px;
}

.circle img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* <!--        Latest blog and news         --> */

.latest {
    background: #DCEAF5 100vw;
}

.posts1 {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.latest1 {
    font-size: 3rem;
    color: #0D1317;
    line-height: 3.5rem;
    padding-top: 96px;
    font-weight: 600;
}

.latest2 {
    display: flex;
    gap: 40px;
}

.post11 {
    display: flex;
    flex-direction: column;
}

.post11 img {
    height: 230px;
    width: 400px;
    border-radius: 20px 20px 0 0;
}

.latest3 {
    padding: 0 32px;
    margin-bottom: 96px;
    width: 400px;
    height: 277px;
    border-radius: 0 0 20px 20px;
    background-color: #FFFFFF;
}