.container {
    max-width: 1280px;
    margin: 0 auto;
}

* {
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/*      Header       */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    gap: 32px;
    padding: 30px 0;
    color: #394149;
    flex-wrap: wrap;
}

.navbar a {
    color: #394149;
}

.but1 input {
    border-style: none;
    background: #F58A071A;
    padding: 18px 30px;
    border-radius: 30px;
    color: #F58A07;
    font-weight: 600;
}


/*      Header end       */

.background {
    height: 703px;
    background: #DCEAF5 100vw;
    text-transform: capitalize;
}

.banner {
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

#zurag {
    height: 618px;
    margin-top: 85px;
}

.text1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

.text2 {
    display: flex;
    flex-direction: column;
}

.text2 h1 {
    font-size: 64px;
    color: #1D3444;
    margin: 0;
    line-height: 72px;
    width: 576px;
}

.text2 h3 {
    font-size: 18px;
    color: #5B5B5B;
    line-height: 30px;
}

.services {
    display: flex;
    gap: 72px;
}

.serbut {
    padding: 18px 32px;
    background-color: #F58A07;
    color: #ffffff;
    border-radius: 30px;
}

.text1 p {
    font-size: 1.125rem;
    line-height: 30px;
    color: #39414980;
    margin-left: 0;
    padding-top: 30px;
}

.text2a a {
    color: #1D3444;
    font-weight: 600;
}

.img1 img {
    padding-right: 45px;
}


/*      Banner        */

.text3 {
    max-width: 735px;
}

.text3 h2 {
    font-size: 3rem;
    line-height: 56px;
    color: #1D3444;
}

.text3 p {
    font-size: 1.125rem;
    line-height: 30px;
    color: #5B5B5B;
}

.text4 h3 {
    font-size: 1.5rem;
    color: #0d1317;
}

.text4 p {
    color: #5b5b5b;
}

.but3 {
    color: #F58A07;
}

.post1 img {
    border-radius: 20px;
}

.posts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.post1 {
    max-width: 31%;
}

.help {
    margin-top: 96px;
    margin-bottom: 96px;
}


/*      Feaures section          */

#feauress {
    background: #DCEAF5 100vw;
    display: flex;
}

.feaures {
    margin-top: 96px;
    margin-bottom: 96px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
}

.text5 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 64px;
    justify-content: space-between;
}

.text5 h1 {
    font-size: 2.25rem;
    line-height: 2.75rem;
    color: #0d1317;
    max-width: 49%;
}

.text5 h2 {
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: #1D3444;
    max-width: 49%;
}

.feature1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.icons {
    width: 25rem;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 1.5rem;
}

.icons h2 {
    font-size: 1.5rem;
}

.icons p {
    line-height: 28px;
    color: #5B5B5B;
}


/*      About section        */


/*      Part 1       */

.text6 h1 {
    font-size: 3rem;
    color: #0D1317;
}

.text6 p {
    font-size: 1.125rem;
    color: #5B5B5B;
}

.main-box {
    display: flex;
    justify-content: space-between;
}

.box span {
    font-size: 2rem;
    color: #F58A07;
}

.box h2 {
    font-size: 1.5rem;
    color: #0D1317;
}

.box p {
    color: #5B5B5B;
}

.part1 {
    display: flex;
    align-items: center;
    gap: 47px;
    margin: 97px 0;
}

.about img {
    border-radius: 40px;
    width: 638px;
    height: 670px;
}

.colored {
    position: relative;
}

.color {
    height: 670px;
    width: 153px;
    background-color: rgba(245, 138, 7, 0.7);
    position: absolute;
    top: 0;
    /* border-top-left-radius: 40px;
    border-bottom-left-radius: 40px; */
    border-radius: 40px 0 0 40px;
}


/*      part 2       */

.part2 {
    height: 682px;
    background-color: #EDF7FF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 20px;
    margin: 95px 0 128px 0;
    position: relative;
}

.ribbon img {
    position: absolute;
    width: 178px;
    height: 178px;
    right: -16px;
    top: -16px;
}

.part2head {
    display: flex;
    justify-content: left;
    gap: 24px;
    margin-left: 3rem;
}

.part2head1 {
    color: #F58A07;
    background-color: #ffffff;
    border-radius: 31px;
    padding: 8px 24px 8px 24px;
}

.part2head2 {
    color: rgba(6, 50, 85, 0.3);
    border-radius: 31px;
    padding: 8px 24px;
    border: 1px solid rgba(6, 50, 85, 0.3);
}

.part2a {
    display: flex;
    flex-direction: row;
    justify-items: space-around;
    /* align-items: center; */
    gap: 140px;
}

.part2text {
    height: 472px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-left: 48px;
}

.part2text h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    color: #0d1317;
}

.part2text p {
    font: 1.125rem;
    color: #5b5b5b;
}

.part2img {
    position: relative;
}

.part2img img {
    border-radius: 20px 0 0 20px;
    margin-right: 42px;
}

.colored1 {
    border-radius: 20px 0px 0px 20px;
    width: 120px;
    background-color: rgba(245, 138, 7, 0.7);
    position: absolute;
    height: 466px;
    top: 0;
}


/*      CTA section          */

.cta {
    max-width: 1920px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.cta1 {
    width: 50%;
}

.cta img {
    height: 518px;
}

.cta2 {
    height: 518px;
    background-color: #F58A07;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 128px;
    width: 50%;
}

.cta2 h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    color: #ffffff;
    width: 532px;
}

.but4 {
    background-color: #ffffff;
    color: #F58A07;
    padding: 19px 32px;
    border-radius: 31px;
}


/* <!--        Latest blog and news         --> */

.latest {
    background: #DCEAF5 100vw;
}

.posts1 {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.latest1 {
    font-size: 3rem;
    color: #0D1317;
    line-height: 3.5rem;
    padding-top: 96px;
    font-weight: 600;
}

.latest2 {
    display: flex;
    gap: 40px;
}

.post11 {
    display: flex;
    flex-direction: column;
}

.post11 img {
    height: 230px;
    width: 400px;
    border-radius: 20px 20px 0 0;
}

.latest3 {
    padding: 0 32px;
    margin-bottom: 96px;
    width: 400px;
    height: 277px;
    border-radius: 0 0 20px 20px;
    background-color: #FFFFFF;
}


/*      Video section        */

.video {
    height: 757px;
    display: flex;
    align-items: center;
}

.video1 h1 {
    font-size: 3rem;
    color: #0d1317;
    font-weight: 600;
}

.video1 p {
    font-size: 1.125rem;
    color: #5B5B5B;
}

.name h2 {
    font-size: 1.5rem;
}

.name h3 {
    font-size: 1.125rem;
    color: #F58A07;
    margin-top: -15px;
}

.ceo img {
    width: 80px;
    height: 80px;
}

.ceo {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
}

.video2 {
    position: relative;
}

.playvideo {
    position: absolute;
    left: 107px;
    bottom: 50px;
    color: #ffffff;
    font-size: 1.125rem;
}

.circle {
    width: 51px;
    height: 51px;
    background: #ffffff;
    border-radius: 50%;
    position: absolute;
    bottom: 40px;
    left: 40px;
}

.circle img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*      footer       */

footer {
    background-color: #063255;
    position: relative;
}

.bottom a,
p {
    color: #ffffff;
}

.bottom1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 80px;
}

.bottom1a h2 {
    font-size: 2rem;
    color: #ffffff;
}

.vectors img {
    margin-right: 21px;
}

.bottom1b {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    font-size: 1.125rem;
}

.bottom1b p {
    margin-top: 0;
}

.bottom1b a {
    margin: 8px 0 8px 0;
}

.bottom1c {
    display: flex;
    flex-direction: column;
}

.bottom1c a {
    margin-bottom: 16px;
}

.bottom1c p {
    margin: 8px 0 8px 0;
}

.bottom1c a {
    font-size: 1.125rem;
}

.bottom1d p {
    font-size: 1.125rem;
    margin-top: 0;
}

.bottom1d {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 18px;
}

.type input {
    width: 342px;
    height: 54px;
    border-radius: 31px;
    background: #ffffff;
    display: flex;
    align-items: center;
    padding-left: 32px;
}

.type input:focus {
    border-style: none;
    outline: none;
}

.but5 input {
    padding: 18px 32px;
    background: #F58A07;
    color: #ffffff;
    border-radius: 31px;
    border-style: none;
}

.but5 input:focus {
    outline: none;
}

.bottom2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 84px 0 84px 0;
}

.bottom2b {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.text7 {
    color: #ffffff;
}

.shapeleft {
    width: 53px;
    height: 144px;
    border-radius: 0px 20px 0 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #F58A07;
}

.shaperight {
    width: 53px;
    height: 287px;
    background: #F58A07;
    position: absolute;
    border-radius: 20px 0 0 20px;
    right: 0;
    top: 38px;
}