h1 {
    text-align: center;
}

form {
    border: 2px solid orange;
    max-width: 400px;
    margin: 0 auto;
}

.row {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 30px;
    margin-right: 30px;
}