*{
    max-width: 1280px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
navbar{
    display:flex;
    flex-flow: row;
    justify-content: space-between;
    align-content:center; 
}
.logo1{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    display: flex;
}
.navbar{
    display: flex;
    gap: 32px;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #394149;
}
.cta{
    width: 173px;
    height: 52px;
    background: rgba(245, 138, 7, 0.1);
    border-radius: 31px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f58a07;
}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a{
    color: inherit;
}
header{
    width: 1280px;
    margin-top: 112px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-img{
    background-image: url(../images/inner-blog.png);
    width: 1280px;
    height: 631px;
    border-radius: 20px;
    
}
.header-text{
    width: 752px;
    margin-top: 80px;
}
#header-member{
    display: flex;
}
#member-pic{
    background-image: url(../images/member-pic.png);
    width: 32px;
    height: 32px;
}
#member-name{
    margin-left: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #394149;
    opacity: 0.87;
}
#member-date{
    margin-left: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #394149;
    opacity: 0.87;
}
#header-h1{
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.03em;
    color: #1d3444;
    margin-top: 24px;
}
#header-p{
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #5b5b5b;
    margin-top: 32px;
}
#header-h2{
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.03em;
    color: #1d3444;
    margin-top: 48px;
}
#header-p2{
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #5b5b5b;
    margin-top: 24px;
}
.footer-container{
    width: 1280px;
    height: 463px;
    background:#063255;
    display: flex;
    justify-content: space-between;
    margin-top: 128px;
}
.shape-left{
    background-image: url(../images/Shape\ Left.png);
    width: 53px;
    height: 144px;
    margin-top: 319px;
    display: flex;
}
.footer-top{
display: flex;
flex-direction: row;
justify-content: space-between;
}
.footer-mid{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 80px;
    width: 1100px;
}
.footer-left{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.logoleft{
    
}
.shape-right{
    background-image: url(../images/Shape\ Right.png);
    width: 53px;
    height: 287px;
    margin-top: 38px;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-content: flex-start ;
    margin-bottom: 60px;
}
.bottom-right{
    display: flex;
    gap: 32px;
}
#left-h2{
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.03em;
    color: #ffffff;
    width: 351px;
    height: 88px;
}
#social-logos{
    background: no-repeat;

}
#company-h3{
display:flex;
font-weight: 600;
font-size: 18px;
line-height: 27px;
color: #ffffff;
}
.footer-company p{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}
#connect-h3{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
}
.footer-connect p{
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    gap: 16px;
}
#right-h3{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
}
#email-button{
    width: 342px;
    height: 54px;
    background: #ffffff;
    border-radius: 31px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #9c9c9c;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding-left: 32px;
}#right-buttons{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
#sub-button{
    width: 156px;
    height: 54px;
    background: #f58a07;
    border-radius: 31px;
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    line-height: 106.5%;
    padding-left: 32px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}
.bottom-left{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}
.bottom-right p{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}
.footer-company{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}