h1{
    text-align: center;
}
form
{
    border: 2px solid blue;
    max-width: 400px;
    margin: auto;
}
.row
{
    margin: 5px 30px;
    justify-content: space-between;
    display: flex;
    justify-content: space-between;
    margin: right 30px;
    margin-left: 30px;
}
input 
{
    background: rgba(210, 218, 237, 0.17);
    border-radius: 27px; 
    width: 628px;
    height: 54px;
}