* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.main-header {
    background: white;
    height: 82px;
    display: flex;
    justify-content: space-between;
}

.main-header img {
    margin: 28px 0;
}

.header-nav a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    color: #394149;
}

.header-nav {
    list-style: none;
    display: flex;
    gap: 32px;
    font-weight: 600;
    font-size: 16px;
    color: #394149;
    align-items: baseline;
}

#button1 {
    background: rgb(245, 138, 7, 0.1);
    border-radius: 31px;
    padding: 18px 30px 17px 29px;
}

#button1 a {
    color: #F58A07;
}

.headersection
{
    background: #DCEAF5;
}

header .container
{
    display: flex;
}

.headertext
{
    margin: 161px 102px 0 0;
}

.headermember
{
    display: flex;
    align-items: center;
}

.headermember p
{
font-size: 16px;
font-weight: 400;
color: #394149;
margin: 0;
}

.headertext .headermember p:nth-child(2)
{
    margin: 0 24px 0 8px;
}

.headertext h2
{
    margin: 24px 0;
    font-size: 64px;
    font-weight: 600;
    line-height: 72px;
}

.headertext p
{
    font-size: 18px;
    font-weight: 500;
    color: #5b5b5b;
}

.headertext a
{
    text-decoration: none;
    color: #F58A07;
    font-size: 16px;
    font-weight: 500;
    margin: 24px 0 0 0;
}

.headersection img:nth-child(2)
{
    width: 621px;
    height: 493px;
    margin: 128px 0;
    border-radius: 20px;
}

.latestsection .container
{
    margin: 128px auto;
}

.latestsection .container h2
{
    font-weight: 600;
    font-size: 48px;
    margin: 0;
}

.blogitems {
    margin-top: 64px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.blogitems img {
    border-radius: 20px 20px 0 0;
    width: 400px;
    height: 230px;
}

.bgcolor
{
    background-color: #EDF7FF;
    border-radius: 0 0 20px 20px;
    width: 400px;
    height: 277px;
    padding: 32px;
}

.blogitems h3 {
    color: #0D1317;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    margin: 0;
}

.blogitems p {
    margin: 16px 0 24px 0;
    color: #5B5B5B;
    font-weight: 500;
    font-size: 16px;
}

.blogitems .LMs {
    font-weight: 500;
    font-size: 16px;
    color: #f58a07;
    margin: 0;
}

footer
{
    background: #063255;
    position: relative;
}

.footercontainer
{
margin: 0 auto;
}
footer .footertop
{
    display: flex;
    padding: 80px 0 80px;
    color: white;
}

.footerheadings
{
    font-weight: 600;
    font-size: 18px;
    margin: 0 0 24px 0;
}

.footerleft 
{
    width: 351px;
    height: 199px;
}

.footerleft h2
{
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    margin: 32px 0;
}

.footerleft ul
{
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.footerleft li
{
    list-style: none;
}

.footerleft a
{
    text-decoration: none;
    color: white;
}

.footercompany
{
    margin: 0 107px 0 110px;
}

.footercompany .companylinks
{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footercompany .companylinks a
{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
}

.subscripe
{
    margin-left: 137px;
}

.subscripe p:nth-child(2)
{
    color: #9c9c9c;
    font-weight: 500;
    font-size: 16px;
    background: white;
    border-radius: 31px;
    padding: 18px 188px 17px 32px;
}

.subscripe p:nth-child(3)
{
    background: #f58a07;
    border-radius: 31px;
    padding: 18px 32px 17px 32px;
    font-weight: 600;
    font-size: 18px;
    width: 156px;
}

.footerbottom
{
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}

.footerbottom p
{
    color: white;
    font-weight: 500;
    font-size: 16px;
    margin: 0;
}

.footerbottomlinks
{
    display: flex;
    gap: 32px;
}

.footerbottomlinks a
{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
}

.shapeleft
{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 53px;
    height: 144px;
    background: #f58a07;
    border-top-right-radius: 20px;
}

.shaperight
{
    position: absolute;
    top:38px;
    right: 0px;
    width: 53px;
    height: 287px;
    background: #f58a07;
    border-radius: 20px 0 0 20px;
}