* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.main-header {
    background: white;
    height: 82px;
    display: flex;
    justify-content: space-between;
}

.main-header img {
    margin: 28px 0;
}

.header-nav a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    color: #394149;
}

.header-nav {
    list-style: none;
    display: flex;
    gap: 32px;
    font-weight: 600;
    font-size: 16px;
    color: #394149;
    align-items: baseline;
}

#button1 {
    background: rgb(245, 138, 7, 0.1);
    border-radius: 31px;
    padding: 18px 30px 17px 29px;
}

#button1 a {
    color: #F58A07;
}

header .container {
    margin-top: 95px;
    display: flex;
}

header h2 {
    width: 618px;
    height: 288px;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    color: #1d3444;
    margin: 85px 40px 24px 0;
}

.headertext p {
    width: 557px;
    height: 90px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
    margin: 0;
}
.headertext div
{
    margin-top: 24px;
}
.headertext a
{
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    background: #F58A07;
    padding: 18px 32px;
    border-radius: 27px;
}

header .headerimage
{
    position: relative;
}
.headercolor {
    position: absolute;
    top: 0px;
    background-color: #F58A07;
    mix-blend-mode: multiply;
    width: 180px;
    height: 650px;
    border-radius: 19px 0 0 20px;
}

.careerssection
{
    margin: 128px auto;
}
.careerssection h2
{
    font-weight: 600;
    font-size: 48px;
    color: #0d1317;
    margin: 0;
}

.careeroptions
{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 64px;
}

.careeroptions .backgrounds
{
    width: 400px;
    height: 181px;
    background: rgba(193, 228, 255, 0.3);
    border-radius: 20px;
    padding: 32px 40px;
}

.careeroptions h3
{
    font-weight: 500;
    font-size: 24px;
    color: #0d1317;
    margin: 0;
}

.careeroptions p
{
    font-size: 18px;
    font-weight: 500;
    color: #394149;
    margin-top: 8px;
}

.careeroptions a
{
    text-decoration: none;
    color: #F58A07;
    font-weight: 400;
    font-size: 18px;
    margin-top: 32px;
}

.latestsection
{
    background: #DCEAF5;
    margin-top: 128px;
    height: 819px;
}

.latestsection .container h2
{
    font-weight: 600;
    font-size: 48px;
    padding-top: 96px;
    margin: 0;
}

.blogitems {
    margin-top: 64px;
    display: flex;
    gap: 40px;
}

.blogitems img {
    border-radius: 20px 20px 0 0;
    width: 400px;
    height: 230px;
}

.bgcolor
{
    background-color: white;
    border-radius: 0 0 20px 20px;
    width: 400px;
    height: 277px;
    padding: 32px;
}

.blogitems h3 {
    color: #0D1317;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    margin: 0;
}

.blogitems p {
    margin: 16px 0 24px 0;
    color: #5B5B5B;
    font-weight: 500;
    font-size: 16px;
}

.blogitems .LMs {
    font-weight: 500;
    font-size: 16px;
    color: #f58a07;
    margin: 0;
}

footer
{
    background: #063255;
    position: relative;
}

.footercontainer
{
margin: 0 auto;
}
footer .footertop
{
    display: flex;
    padding: 80px 0 80px;
    color: white;
}

.footerheadings
{
    font-weight: 600;
    font-size: 18px;
    margin: 0 0 24px 0;
}

.footerleft 
{
    width: 351px;
    height: 199px;
}

.footerleft h2
{
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    margin: 32px 0;
}

.footerleft ul
{
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.footerleft li
{
    list-style: none;
}

.footerleft a
{
    text-decoration: none;
    color: white;
}

.footercompany
{
    margin: 0 107px 0 110px;
}

.footercompany .companylinks
{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footercompany .companylinks a
{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
}

.subscripe
{
    margin-left: 137px;
}

.subscripe p:nth-child(2)
{
    color: #9c9c9c;
    font-weight: 500;
    font-size: 16px;
    background: white;
    border-radius: 31px;
    padding: 18px 188px 17px 32px;
}

.subscripe p:nth-child(3)
{
    background: #f58a07;
    border-radius: 31px;
    padding: 18px 32px 17px 32px;
    font-weight: 600;
    font-size: 18px;
    width: 156px;
}

.footerbottom
{
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}

.footerbottom p
{
    color: white;
    font-weight: 500;
    font-size: 16px;
    margin: 0;
}

.footerbottomlinks
{
    display: flex;
    gap: 32px;
}

.footerbottomlinks a
{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
}

.shapeleft
{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 53px;
    height: 144px;
    background: #f58a07;
    border-top-right-radius: 20px;
}

.shaperight
{
    position: absolute;
    top:38px;
    right: 0px;
    width: 53px;
    height: 287px;
    background: #f58a07;
    border-radius: 20px 0 0 20px;
}