* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1280px;
    margin: auto;
}

.main-header {
    background: white;
    height: 82px;
    display: flex;
    justify-content: space-between;
}

.main-header img {
    margin: 28px 0;
}

.header-nav a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    color: #394149;
}

.header-nav {
    list-style: none;
    display: flex;
    gap: 32px;
    font-weight: 600;
    font-size: 16px;
    color: #394149;
    align-items: baseline;
}

#header-button {
    background: rgb(245, 138, 7, 0.1);
    border-radius: 31px;
    padding: 18px 30px 17px 29px;
}

#header-button a {
    color: #F58A07;
}

header .headersection {
    display: flex;
    gap: 99px;
    margin: 94px 115px 64px 0;
    width: 1165px;
}

header h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    color: #1D3444;
    margin: 0 0 24px 0;
    width: 561px;
}

header h3 {
    font-weight: 500;
    font-size: 24px;
    color: #0d1317;
    margin: 0 0 16px 0;
}

header p {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #5b5b5b;
    margin: 0;
}

.rightside {
    display: flex;
    gap: 76px;
}

.contact {
    margin-bottom: 128px;
    display: flex;
    gap: 55px;
}

.contact input {
    color: #9c9c9c;
    font-weight: 500;
    font-size: 16px;
    background: rgba(210, 218, 237, 0.17);
    border: white;
    border-radius: 31px;
    padding: 18px 32px;
    width: 605px;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

#typetext {
    height: 160px;
    width: 605px;
}

#typetext::placeholder {
    position: absolute;
}

button {
    font-weight: 600;
    font-size: 16px;
    color: white;
    background: #F58A07;
    border-radius: 31px;
    padding: 18px 32px;
    border: #F58A07;
    margin-top: 32px;
}

iframe {
    border-radius: 20px;
}

footer {
    background: #063255;
    position: relative;
}

.footercontainer {
    margin: 0 auto;
}

footer .footertop {
    display: flex;
    padding: 80px 0 80px;
    color: white;
}

.footerheadings {
    font-weight: 600;
    font-size: 18px;
    margin: 0 0 24px 0;
}

.footerleft {
    width: 351px;
    height: 199px;
}

.footerleft h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    margin: 32px 0;
    width: 351px;
    height: 88px;
}

.footerleft ul {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.footerleft li {
    list-style: none;
}

.footerleft a {
    text-decoration: none;
    color: white;
}

.footercompany {
    margin: 0 107px 0 110px;
}

.footercompany .companylinks {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footercompany .companylinks a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
}

.subscripe {
    margin-left: 137px;
}

.subscripe input {
    color: #9c9c9c;
    font-weight: 500;
    font-size: 16px;
    border: white;
    border-radius: 31px;
    padding: 18px 32px;
    width: 342px;
}

.subscripe button {
    color: white;
    background: #f58a07;
    border: #F58A07;
    border-radius: 31px;
    padding: 18px 32px;
    font-weight: 600;
    font-size: 18px;
    width: 156px;
    margin-top: 16px;
}

.footerbottom {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}

.footerbottom p {
    color: white;
    font-weight: 500;
    font-size: 16px;
    margin: 0;
}

.footerbottomlinks {
    display: flex;
    gap: 32px;
}

.footerbottomlinks a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
}

.shapeleft {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 53px;
    height: 144px;
    background: #f58a07;
    border-top-right-radius: 20px;
}

.shaperight {
    position: absolute;
    top: 38px;
    right: 0px;
    width: 53px;
    height: 287px;
    background: #f58a07;
    border-radius: 20px 0 0 20px;
}