body{
    margin: 10px;
}
h1
{
    margin: auto;
    text-align: center;
}
.banner
{
    position: relative;
    min-height: 60vh;
    background: url('http://placeimg.com/800/400/any');
    display: flex;
    background-size: cover;
}
.banner::after , .banner::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg,#eaee44,#33d0ff);
    /*opacity: 0.7;*/ 
    z-index: 1;
    mix-blend-mode: color;
    mix-blend-mode: hue;
    mix-blend-mode: hard-light;
    transform: skew(-159deg) translate(-50%);
}   
 .banner::before
 {
    content: "";
    transform: skew(-159deg) translate(-50%);
 }  

.banner >*
{
    z-index: 100;
}