*
{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
header
{
    text-align: center;
}
main
{
    display: flex;
    justify-content: space-between;
}
footer
{
    display: flex;
    justify-content: flex-end;
}