.container {
    max-width: 1280px;
    margin: 0 auto;
}
*{
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header {
    display: flex;
    flex-direction: row;   
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    gap: 32px;
    padding: 30px 0;
    color: #394149;
    flex-wrap: wrap;
}

.navbar a {
    color: #394149;
}
.but1 {
    background: #F58A071A;
    padding: 18px 30px;
    border-radius: 30px;
    color: #F58A07;
}

.background {
    height: 703px;
    background: #DCEAF5 100vw;
    text-transform: capitalize;
}
.banner {
    display: flex;
    gap: 40px;
    justify-content: space-between;

}
#zurag{
    height: 618px;
    margin-top: 85px;

}
.text1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}
.text2 {
    flex-direction: column;

}
.text2 h1 {
    font-size: 64px;
    color: #1D3444;
    margin: 0;
    line-height: 72px;
}
.text2 h3 {
    font-size: 18px;
    color: #5B5B5B;
    line-height: 30px;
}

.services { 
    display: flex;
    gap: 72px;
}
.services span {
    padding: 18px 32px;
    background-color: #F58A07;
    color: #ffffff;
    border-radius: 30px;
}

.text1 p {
    font-size: 1.125px;
    line-height: 30px;
    color: #39414980;
    margin-left: 0;
    padding-top: 30px;
}
.img1 img {
    padding-right: 45px;
}

/*      Banner        */
.text3 {
    max-width: 735px;
}
.text3 h2 {
    font-size: 3rem;
    line-height: 56px;
    color: #1D3444;
}

.text3 p{
    font-size: 1.125rem;
    line-height: 30px;
    color: #5B5B5B;
}

.text4 h3{
    font-size: 1.5rem;
    color: #0d1317;
}

.text4 p{
    color: #5b5b5b;
}

.but3 {
    color: #F58A07;
}
.post1 img {
    border-radius: 20px;
}
.posts{
    display: flex;
    justify-items: center;
    align-items: center;
}


.help {
    height: 932px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/*      Feaures section          */

#feauress {
    height: 665px;
    background: #DCEAF5 100vw;
    display: flex;
}
.feaures {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;

}
.text5{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.text5 h1{
    font-size: 2.25rem;
    line-height: 2.75rem;
    color: #0d1317;
    width: 620px;
}
.text5 h2{
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: #1D3444;
    width: 620px;
}
.feature1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.icons {
    width: 25rem;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    padding: 1.5rem;
    justify-content: space-around;
    align-content: space-around;

}
.icons h2 {
    font-size: 1.5rem;
}
.icons p {
    line-height: 28px;
}