* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.fontmed {
    font-size: 18px;
    font-weight: 500;
    color: #5B5B5B;
    font-style: normal;
    line-height: 30px;
}

.fontlarge h1 {
    height: 144px;
    margin-bottom: 12px;
}

.fontxl {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #1D3444;
}

a {
    color: black;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.header-right {
    display: flex;
    justify-content: space-between;
    gap: 52px;
    align-items: center;
}

.header-list {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.call {
    padding: 18px 30px;
    background: rgba(245, 138, 7, 0.1);
    border-radius: 31px;
    color: #F58A07;
}

.banner {
    background: #DCEAF5;
}

.banner-content {
    display: flex;
    height: 703px;
}

.banner-left {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin: 117px 0px;
}


.banner-left h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    letter-spacing: -0.03em;
}

.banner-left p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
}

.services {
    display: flex;
    gap: 40px;
    align-items: center;
}

.services1 {
    padding: 18px 32px;
    background: #F58A07;
    border-radius: 27px;
    color: white;
}

.logos {
    display: flex;
    gap: 45px;
}

.logo-content {
    display: flex;
    height: 40px;
    align-items: center;
}

.man {
    height: 618px;
    margin-top: auto;
}

/* second banner starts here */
.fontxl h2 {
    font-size: 48px;
    height: 112px;
}

.banner2-header {
    width: 60%;
}

.lorem {
    margin-bottom: 64px;
}

.banner2-context {
    display: flex;
    gap: 40px;
    margin-bottom: 96px;
}

.banner2-context img {
    border-radius: 20px;
}

.bold {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 106.5%;
    letter-spacing: -0.03em;
    color: #0D1317;
}

.fontsmall {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #5B5B5B;
}

.fontsmallorange {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 106.5%;
    color: #F58A07;
}

/* banner-3 starts here */
.banner3-text {
    display: flex;
    border: #0D1317 1px solid;
    flex-direction: row;
    justify-content: space-around;

}

.font36 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.03em;
    color: #0D1317;
}