* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Poppins' , sans-serif;
}

a{
    color: black;
    text-decoration: none;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.menu{
    display: flex;
    justify-content: space-between;
    gap: 52px;
    align-items: center;
}

.menu-list{
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.call{
    padding: 18px 30px;
    background: rgba(245, 138, 7, 0.1);
    border-radius: 31px;
    color: #F58A07;
}

.banner{
    background: #DCEAF5;
}

.banner-content{
    display: flex;
    height: 703px;
}

.banner-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.banner-left h1{
    font-size: 64px;
    font-weight: 600;
    margin: 0;
}

.banner-left p{
    font-weight: 500;
    font-size: 18px;
}

.services{
    display: flex;
    gap: 40px;
    align-items: center;
}

.services1{
    padding: 18px 32px;
    background: #F58A07;
    border-radius: 27px;
    color: white;
}

.logos{
    display: flex;
    gap: 45px;
}

.logo-content{
    display: flex;
    height: 40px;
    align-items: center;
}
.man{
    height: 618px;
    margin-top: auto;
}