* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.fontmed {
    font-size: 18px;
    font-weight: 500;
    color: #5B5B5B;
    font-style: normal;
    line-height: 30px;
}

.fontlarge h1 {
    height: 144px;
    margin-bottom: 12px;
}

.fontxl {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #1D3444;
}

a {
    color: black;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.header-right {
    display: flex;
    justify-content: space-between;
    gap: 52px;
    align-items: center;
}

.header-list {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.call {
    padding: 18px 30px;
    background: rgba(245, 138, 7, 0.1);
    border-radius: 31px;
    color: #F58A07;
}

.bannertop img {
    border-radius: 21px;
    margin-top: 128px;
}

.bannertopname {
    display: flex;
    margin-top: 128px;
    flex-direction: row;
    justify-content: space-between;
    width: 409px;
    text-align: center;
}

.fontlarge64 {
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.03em;
    color: #1D3444;
}

.containersmall {
    max-width: 752px;
    width: 100%;
    margin: 0 auto;
}

.font48 {
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0D1317;
}

footer {
    border: red solid 1px;
}

.footer2-head {
    display: flex;
    padding-top: 80px;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 80px;
}

.footer2 {
    background-color: #063255;
    color: #FFFFFF;
    height: 463px;
    padding-bottom: 80px;
    margin-top: 128px;
}

.logos {
    display: flex;
    gap: 45px;
}

.boldwhite {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    margin-top: 32px;
    width: 351px;
    gap: 50px;
}

.footer2-logo {
    display: flex;
    margin-top: 33.67px;
    width: 136px;
    justify-content: space-between;
}

.footer2-col2-text-white {
    background-color: #FFFFFF;
    color: #9C9C9C;
    border-radius: 31px;
    padding: 18px 188px 17px 32px;
    font-size: 16px;
}

.footer2-col2-text-orange {
    background-color: #F58A07;
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 31px;
    padding: 18px 32px 17px 32px;
    width: 156px;
}

.footer2footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 40px;
}

.footerorange-1 {
    background-color: #F58A07;
    border-top-right-radius: 20px;
    width: 53px;
    height: 144px;
    margin-top: -87.7px;
}

.footerorange-2 {
    background-color: #F58A07;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 53px;
    height: 287px;
    margin-top: -350px;
}

.footerorange {
    display: flex;
    justify-content: space-between;
}