* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.fontmed {
    font-size: 18px;
    font-weight: 500;
    color: #5B5B5B;
    font-style: normal;
    line-height: 30px;
}

.fontlarge h1 {
    height: 144px;
    margin-bottom: 12px;
}

.fontxl {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #1D3444;
}

a {
    color: black;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.header-right {
    display: flex;
    justify-content: space-between;
    gap: 52px;
    align-items: center;
}

.header-list {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.call {
    padding: 18px 30px;
    background: rgba(245, 138, 7, 0.1);
    border-radius: 31px;
    color: #F58A07;
}

/* banner4 starts here */
.orangefont365{
    background: #F58A07;
    font-size: 16px;
    color: white;
    width: 180px;
    height: 54px;
    border-radius: 27px;
    padding: 18px 32px 19px 32px;
}
.banner4 {
    display: flex;
    margin-top: 96px;
    justify-content: space-between;
    margin-bottom: 90px;
}
.banner-left{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
}
.screen{
    background: #F58A07;
    mix-blend-mode: multiply;
    width: 153px;
    height: 650px;
    position: absolute;
    border-radius: 20px;
}
/* banner5 starts here */
.banner5-blue{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.banner5-row1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.fontmed24{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.03em;
    color: #0D1317;
    padding-top: 8px;
}
.fontmedorange{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 106.5%;
    color: #F58A07;
    padding-top: 32px;
}
.blue1{
    background: rgba(193, 228, 255, 0.3);
    border-radius: 20px;
    width: 400px;
    height: 181px;
    padding: 32px 130px 32px 40px;
    margin-top: 64px;
}
.banner5-row2{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.footer1{
    background-color: #DCEAF5;
    margin-top: 128px;
    padding-top: 96px;
    padding-bottom: 48px;
}
.fontxlfooter {
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    text-transform: capitalize;
    margin-bottom: 64px;
    color: #0D1317;
}
.footer1-context{
    display: flex;
    height: 447px;
    gap: 40px;
    border-radius:  20px 20px 0px 0px;
    margin-bottom: 96px;
}
.footer1-context img {
    border-radius:  20px 20px 0px 0px;
}
.footer1context{
    width: 400px;
    height: 477px;
    background: #FFFFFF;
    border-radius: 20px 20px 20px 20px;
}
.fontxs{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #5B5B5B;
}
.footer1-text {
    margin: 32PX;
}
/* footer2 starts here */
.footer2-head{
    display: flex;
    padding-top: 80px;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 80px;
}
.footer2 {
    background-color: #063255;
    color: #FFFFFF;
    height: 463px;
    padding-bottom: 80px;
}
.boldwhite{
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    margin-top: 32px;
    width: 351px;
    gap: 50px;
}
.footer2-logo{
    display: flex;
    margin-top: 33.67px;
    width: 136px;
    justify-content: space-between;
}
.footer2-col2-text-white input{
    background-color: #FFFFFF;
    color: #9C9C9C;
    border-radius: 31px;
    padding: 18px 188px 17px 32px;
    font-size: 16px;
    margin-bottom: 16px;
}
.footer2-col2-text-orange{
    background-color: #F58A07;
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 31px;
    padding: 18px 32px 17px 32px;
    width: 156px;
}
.footer2footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 40px;
}
.footerorange-1{
    background-color: #F58A07;
    border-top-right-radius: 20px;
    width: 53px;
    height: 144px;
    margin-top: -87.7px;
}
.footerorange-2{
    background-color: #F58A07;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 53px;
    height: 287px;
    margin-top: -350px;
}
.footerorange{
    display: flex;
    justify-content: space-between;
}
.fontsmallorange {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 106.5%;
    color: #F58A07;
}