* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.fontmed {
    font-size: 18px;
    font-weight: 500;
    color: #5B5B5B;
    font-style: normal;
    line-height: 30px;
}

.fontlarge h1 {
    height: 144px;
    margin-bottom: 12px;
}

.fontxl {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #1D3444;
}

a {
    color: black;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.header-right {
    display: flex;
    justify-content: space-between;
    gap: 52px;
    align-items: center;
}

.header-list {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.call {
    padding: 18px 30px;
    background: rgba(245, 138, 7, 0.1);
    border-radius: 31px;
    color: #F58A07;
}

.banner {
    background: #DCEAF5;
}

.top1 {
    margin-top: 120px;
}

.font24 {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.03em;
    color: #0D1317;
}

.fontsmall18 {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
}

.top2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 64px;
    max-width: 80%;
}

.banner2 {
    background-color: #DCEAF5;
}