* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.fontmed {
    font-size: 18px;
    font-weight: 500;
    color: #5B5B5B;
    font-style: normal;
    line-height: 30px;
}

.fontlarge h1 {
    height: 144px;
    margin-bottom: 12px;
}

.fontxl {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #1D3444;
}

a {
    color: black;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.header-right {
    display: flex;
    justify-content: space-between;
    gap: 52px;
    align-items: center;
}

.header-list {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.call {
    padding: 18px 30px;
    background: rgba(245, 138, 7, 0.1);
    border-radius: 31px;
    color: #F58A07;
}

.banner {
    background: #DCEAF5;
}

.banner-content {
    display: flex;
    height: 703px;
}

.banner-left {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin: 117px 0px;
}


.banner-left h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    letter-spacing: -0.03em;
}

.banner-left p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
}

.services {
    display: flex;
    gap: 40px;
    align-items: center;
}

.services1 {
    padding: 18px 32px;
    background: #F58A07;
    border-radius: 27px;
    color: white;
}

.logos {
    display: flex;
    gap: 45px;
}

.logo-content {
    display: flex;
    height: 40px;
    align-items: center;
}

.man {
    height: 618px;
    margin-top: auto;
}

/* second banner starts here */
.fontxl h2 {
    font-size: 48px;
    height: 112px;
}

.banner2-header {
    width: 60%;
    margin-top: 96px;
}

.lorem {
    margin-bottom: 64px;
}

.banner2-context {
    background-color: #FFFFFF;
    display: flex;
    gap: 40px;
    margin-bottom: 96px;
}

.banner2-context img {
    border-radius: 20px;
}

.bold {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 106.5%;
    letter-spacing: -0.03em;
    color: #0D1317;
}

.fontsmall {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #5B5B5B;
}

.fontsmallorange {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 106.5%;
    color: #F58A07;
}

/* banner-3 starts here */
.banner3 {
    background-color: #DCEAF5;
    height: 663px;
}
.banner3-text {
    display: flex;
    margin-bottom: 64px;
    padding-top: 96px;
}
.font36 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.03em;
    color: #0D1317;
}
.banner3-content {
    display: flex;
    flex-direction: row;
    gap: 50px;
    
}
.banner3-img-part {
    background-color: white;
    padding: 40px 24px 37px 39px;
    border-radius: 20px;
    height: 277px;
    margin:0 auto;
}
/* banner4 starts here */
/* .banner-left{
    max-width: 100%;
    gap: 50px;
} */
.orangefont364{
    color: #F58A07;
    font-size: 36px;
}
.banner4 {
    display: flex;
    margin-top: 96px;
}
.banner4-col1{
    width: 264px;
}
.banner4-right-banner{
    margin-top: auto;
}
.banner4-right-banner img{
    border-radius: 20px;
}
.screen{
    background: #F58A07;
    mix-blend-mode: multiply;
    border: red 1px solid;
    width: 153px;
    height: 670px;
    position: absolute;
    border-radius: 20px;
}
/* banner5 starts here */
.banner5 {
    background: #DCEAF5;
    margin-top: 85px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.banner5-left {
    padding-top: 48px;
    margin-left: 48px;
    padding-bottom: 48px;
    max-width: 45%;
}
.banner5-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
.busstrategy {
    background: white;
    color: #F58A07;
    border-radius: 31px;
    padding: 24px 24px;
}
.banner5-right {
    padding: 168px 42px 42px 42px;
}

.screen2{
    background: #F58A07;
    mix-blend-mode: multiply;
    border: red 1px solid;
    width: 150px;
    height: 466px;
    position: absolute;
    border-radius: 18px;
}
/* banner6 starts here */
.banner6 {
    display: flex;
    margin-top: 128px;
    width: 100%;
    margin-bottom: 128px;
}
.banner6-right{
    background-color: #F58A07;
    height: 518px;
    width: 100%;
    padding-top: 128px;
    padding-left: 128px;
}
.coffee{
    width: 100%;
    height: 518px;
}
.orangewhitelarge {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    width: 532px;
    height: 168px;
}
.busstrategy-2 {
    background: white;
    color: #F58A07;
    border-radius: 31px;
    padding: 24px 24px;
    width: 216px;
    text-align: center;
    margin-top: 40px;
}
/* banner7 starts here */
.banner7 {
    display: flex;
}
.banner7-left {
    max-width: 45%;
    margin-right:110px ;
    margin-top: 90px;
}
.banner7-roundimage {
    display: flex;
}
#sixname {
    text-align: center;
    margin-left: 40px;
}
#title {
    color: #F58A07;
}
.playbutton{
    width: 150px;
    color: white;
    padding: 17px;   
}
.play-pic {
    background-color: white;
    width: 51px;
    height: 51px;
    border-radius: 50%;
    padding: 17px;
}
.banner7-right {
    background: url(/nomin/assignment/images/video-image.png) center / cover;
    width: 100%;
}
.banner7-right-content{
    display: flex;
    margin-top: 410px;
    margin-left: 40px;
}
/* footer1 starts here */
.footer1{
    background-color: #DCEAF5;
    margin-top: 128px;
    padding-top: 96px;
    padding-bottom: 48px;
}
.fontxlfooter {
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    text-transform: capitalize;
    margin-bottom: 64px;
    color: #0D1317;
}
.footer1-context{
    display: flex;
    height: 447px;
    gap: 40px;
    border-radius:  20px 20px 0px 0px;
    margin-bottom: 96px;
}
.footer1-context img {
    border-radius:  20px 20px 0px 0px;
}
.footer1context{
    width: 400px;
    height: 477px;
    background: #FFFFFF;
    border-radius: 20px 20px 20px 20px;
}
.fontxs{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #5B5B5B;
}
.footer1-text {
    margin: 32PX;
}
/* footer2 starts here */
.footer2-head{
    display: flex;
    padding-top: 80px;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 80px;
}
.footer2 {
    background-color: #063255;
    color: #FFFFFF;
    height: 463px;
    padding-bottom: 80px;
}
.boldwhite{
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    margin-top: 32px;
    width: 351px;
    gap: 50px;
}
.footer2-logo{
    display: flex;
    margin-top: 33.67px;
    width: 136px;
    justify-content: space-between;
}
.footer2-col2-text-white {
    background-color: #FFFFFF;
    color: #9C9C9C;
    border-radius: 31px;
    padding: 18px 188px 17px 32px;
    font-size: 16px;
}
.footer2-col2-text-orange{
    background-color: #F58A07;
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 31px;
    padding: 18px 32px 17px 32px;
    width: 156px;
}
.footer2footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 40px;
}
.footerorange-1{
    background-color: #F58A07;
    border-top-right-radius: 20px;
    width: 53px;
    height: 144px;
    margin-top: -87.7px;
}
.footerorange-2{
    background-color: #F58A07;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 53px;
    height: 287px;
    margin-top: -350px;
}
.footerorange{
    display: flex;
    justify-content: space-between;
}
