* {
    box-sizing: border-box;
    font-family: 'Popping', sans-serif;
}

main {
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
}

header {
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items:stretch;
    justify-content: space-between;
    height: 100vh;
    border: 1px solid red;
    
    /* max-width: 1920px;
    max-height: 6613px; */
}

footer {
    border: 3px solid blue;
}