*{
 box-sizing: border-box;
 font-family: 'Poppins';
}
header{
    display: flex;
    justify-content: space-between;
}
.logo{
    left: 16.67%;
    right: 76.98%;
    top: 0.42%;
    bottom: 99.15%;
    margin: 28px 320px;
    width: 122px;
    height: 28px;

}
.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 32px;

}
.Call {
    display: flex;
    border-radius: 31px;
    width: 173px;
    height: 52px;
    justify-content:center;
    background-color: #f58a07;
    align-items: center;
}

