* {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    /* margin: 0;
    padding: 0; */
}
.golluulagch{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

                     /* HEAD NAV*/
.head_container {
    display: flex;
    border: 1px solid hidden;
    width: 1280px;
    height: 52px;
    padding: 14px 0 ;
    /* margin: 16px 328px; */
}
.header_logo {
    margin-top: 0;
}
.header_menu{
    display: flex;
    gap: 32px;
    margin: 0 0 0 470px;
}
.header_link {
    width: 190px;
    height: 52px;
    border: 0px solid rgba(245, 138, 7, 0.1);
    background-color: rgba(245, 138, 7, 0.1);
    border-radius: 31%;
    margin: -15px 0 0 47px;
    padding-top: 13px;
    padding-left: 32px;

}
.header_link a {
    color:#F58A07;
    font-size: 16px;
    font-weight: 600;
    /* line-height: 17px; */
    text-decoration: none;
}
.header_menu a {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    font-style: normal;
    color: #394149;
    text-decoration: none;
}
                                 /* SECTION*/
.car2_title {
    color: #1D3444;
    font-size: 64px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: -0.03em;
    width: 640px;
    height: 76px;
    margin-top: 64px;

}
.car2_title2 {
    color: #0D1317;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.03em;
    margin-top: 64px;
}
.car2_text1 {
    color: #5B5B5B;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 16px;
}
.car2_col1 {
    display: flex;
    flex-direction: column;
    width: 640px;
    height: 120px;
}
.car2_col2 {
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 120px;
}

.car2_col1-2 {
    display: flex;
    width: 1086px;
    height: 246px;
    justify-content: space-between;
}
section {
    width: 1086px;
    height: 246px;
    margin-top: 122px;
}
                                 /* ARTICLE*/
.car2_article {
    border: 5px solid hidden;
    background-color: rgba(193, 228, 255, 0.3);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1280px;
    height: 441px;
    margin-top;:64px
    border-radius: 20px;
}
.car2_col3 {
    border: 5px solid hidden;
    display: flex;
    flex-direction: column;
    width: 184px;
    height: 144px;
    margin:68px 0 0 68px ;

}
.car2_title3 {
    color: #f58A07;
    font-size: 24px;
    font-weight: 600;
    line-height: 108%;
}
.car2_title4 {
    color: #0D1317;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 40px;

}
.car2_text2{
    color: #5B5B5B;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    width: 842px;
    height: 308px;
    margin:64px 94px 69px 92px ;
}
                    /* FEAUTRES */

/* features {
    margin: 24px 0 0 320px;
} */

.car2_title5 {
    color: #0D1317;
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    margin: 128px 0 0 0;

}

input[type=text] {
    /* width: 628px;
    height: 54px; */
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: rgba(210, 218, 237, 0.17);
    border-radius: 27px;
    color: #9C9C9C;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }

#fname {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.input1 {
    display: flex;
    flex-direction: column;
    max-width: 628px;
    width: 628px;
    height: 54px;
}
.input2 {
    display: flex;
    flex-direction: column;
    width: 628px;
    height: 54px;
}
.container_input {
    display: flex;
    flex-direction: row;
}
.input3 {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}
  



                        /* FOOTER SECTION #9 */
footer {
    border: 1px solid #063255;
    background-color: #063255;
    /* width: 1920px; */
    height: 463px;
}
.corner1 {
    border: 1px solid #f58A07;
    background-color: #f58A07;
    border-top-right-radius: 20px;
    width: 53px;
    height: 144px;
    margin-top: -65px;
}
.corner2 {
    border: 1px solid #f58A07;
    background-color: #f58A07;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 53px;
    height: 287px;
    margin-top: -340px;
}
.foot_corners{
    display: flex;
    justify-content: space-between;
    /* width: 1920px; */
}
.foot_col1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.foot_col2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.foot_col3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 25px;
}
.foot_col4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}
.foot_logo {
    width: 120px;
    height: 27px;
}
.foot_title {
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.03em;
    width: 351px;
    height: 88px;
}
.foot_title1 {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
}
.foot_title2 {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.input2[type=text], select {
    border: 1px solid white;
    border-radius:0px ;
    /* width: 342px; */
    height: 54px;
}
.foot_input {
    font-size: 16px;
    color: #9c9c9c;
    margin: 18px 0 0 32px;
}
.foot_link {
    border: 1px solid #F58A07;
    border-radius: 31px;
    background-color: #F58A07;
    width: 156px;
    height: 54px;
    padding: 17px 32px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    line-height: 19px;
}
.foot_box1 {
    display: flex;
    justify-content: space-between;
    border: 1px solid hidden;
    margin-top: 80px;
    width: 1280px;
    height: 199px;
}

.foot_box2 {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    height: 24px;
    margin-top: 80px;
}

.foot_text {
    color: white;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}
.foot_text1 {
    color: white;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}