* {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    /* margin: 0;
    padding: 0; */
}
.golluulagch{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

                     /* HEAD NAV*/
.head_container {
    display: flex;
    border: 1px solid hidden;
    width: 1280px;
    height: 52px;
    padding: 14px 0 ;
    /* margin: 16px 328px; */
}
.header_logo {
    margin-top: 0;
}
.header_menu{
    display: flex;
    gap: 32px;
    margin: 0 0 0 470px;
}
.header_link {
    width: 190px;
    height: 52px;
    border: 0px solid rgba(245, 138, 7, 0.1);
    background-color: rgba(245, 138, 7, 0.1);
    border-radius: 31%;
    margin: -15px 0 0 47px;
    padding-top: 13px;
    padding-left: 32px;

}
.header_link a {
    color:#F58A07;
    font-size: 16px;
    font-weight: 600;
    /* line-height: 17px; */
    text-decoration: none;
}

.header_menu a {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    font-style: normal;
    color: #394149;
    text-decoration: none;
}
                             /* HEADER */
section {
    position: relative;
    margin-top: 16px;
    background-color: rgba(220, 234, 245, 1);
    height: 700px;
    
}
.container {
    /* position: absolute; */
    display: flex;
    /* margin: 117px 10px 0px 320px; */
}
.text {
    border: 1px solid hidden;
    padding: 0px;
    width: 576px;
    height: 439px;
    margin: 117px 0 0 0;
}
.title {
    position: relative;
    width: 576px;
    height: 144px;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    color: rgba(29, 52, 68, 1);
    letter-spacing: -0.03em;
}
.title1 {
    font-weight: 500px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
}
.title2 {
    border: 0px solid #f58A07;
    background-color: #f58A07 ;
    width: 199px;
    border-radius: 27px;
    padding: 18px 32px 19px 32px;
    margin-top: 25px;
    font-weight: 600;
}
.title3 {
    color: #1d3444;
    font-size: 16px;
    font-weight: 600;
    margin-left: 250px;
    margin-top: -45px;
}
.title4 {
    color: #394149 50%;
    font-size: 18px;
    margin-top: 70px;
    font-weight: 400;
}
 .head_logo {
    margin-top: 20px;
    display: flex;
    gap: 32px;
}
.photoman {
    display: inline-block;
    margin: -63px 10px 0 0;
    margin-top: 55px;
}
        /* HELP SECTION  */
.text1 {
    font-size: 48px;
    width: 735px;
    height: 112px;
    margin: 96px 0 0 0;
    line-height: 56px;
    font-weight: 600;
}
.text2 {
    font-size: 18px;
    width: 735px;
    height: 90px;
    line-height: 30px;
    font-weight: 500;
    margin: 27px 0 0 0;
}
.container2 {
    display: flex;
    justify-content: space-between;
    /* width: 740px; */
    margin-top: 64px;
    gap: 40px;
}
.container2 img {
    border: 1px solid hidden;
    border-radius: 20px;
}
.title5 {
    font-size: 24px;
    line-height: 36px;
    margin-top: 30px;
    font-weight: 500;
}
.text3 {
    color: #5B5B5B;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    margin-top: 17px;
}
.link {
    margin-top: 24px;
    color: #F58A07;
    font-size: 16px;
    font-weight: 500;
    line-height: 106.5%;
}
                /* FEATURES SECTION */
.section3 {
    background-color: #EDF7FF;
    height: 665px;
    margin-top: 96px;
}
.features2 {
    display: flex;
}
.title6 {
    color: #0D1317;
    font-size: 36px;
    line-height: 44px;
    width: 619px;
    height: 132px;
    font-weight: 600;
    margin: 96px 0 0 0;
}
.text4 {
    color: #1D3444;
    font-size: 18px;
    line-height: 30px;
    width: 620px;
    margin: 100px 0 0 40px;
    font-weight: 500;
}
.features1 {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    width: 1282px;
    height: 277px;
    margin: 62px 0 0 0px;
}
.box {
    border: 1px solid white;
    background-color: #fffffF;
    width: 401px;
    height: 277px;
    border-radius: 20px;
    padding: 48px 0 0 41px;
}
.title7 {
    color: #0D1317;
    font-size: 24px;
    line-height: 25.56px;
    margin-top: 32px;
    font-weight: 600;
}
.text7 {
    font-size: 16px;
    line-height: 28px;
    color: #5B5B5B;
    width: 336px;
    height: 84px;
    font-weight: 500;
    margin-top: 16px;
}
                        /* ABOUT SECTION 4 */
.section4 {
    border: 0px solid hidden;
    height: 667px;
    display: flex;
    margin-top: 100px;
}
.title8 {
    font-size: 48px;
    line-height: 56px;
    columns:#0D1317;
    width: 596px;
    height: 157px;
    font-weight: 600;
    margin-top: 67px;
}
.text8 {
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    width: 510px;
    height: 120px;
    margin: 32px 0 0 0;
}
.about_section2 {
    display: flex;
    gap: 224px;
}
.title9 {
        /* font: inter;  ene yu ve? */
        font-size: 36px;
        color: #f58A07;
        line-height: 50px;
        font-weight: 700;
        margin: 48px 0 0 0;
}
.about_section3 {
    display: flex;
    gap: 150px;
}
.text10 {
    font-size: 24px;
    line-height: 25.56px;
    font-weight: 600;
    margin: 16px 0 0 0;
}
.about_section5 {
    display: flex;
    gap: 20px;
}
.text9 {
    font-size: 16px;
    color: #5B5B5B;
    line-height: 28px;
    font-weight: 500;
    width: 264px;
    height: 84px;
    margin: 18px 0 0 0;
}
.sec4_img {
    border: 1px solid hidden;
    border-radius: 15px;
    margin-left: 47px;
    /* z-index: -1;   daraa n daxin xiix */
}
.orange1 {
    position: absolute;
    background-color: rgba(245, 138, 7, 1);
    mix-blend-mode: multiply;
    width: 153px;
    height: 667px;
    margin: 0 0 0 47px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.orange2{
    position: absolute;
    background-color: rgba(245, 138, 7, 1);
    width: 120px;
    height: 466px;
    mix-blend-mode: multiply;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

                        /* SERVICE SECTION #5 */
.sectionT5 {
    border: 1px solid #ffffff;
    background-color: #ffffff;
    width: 1295px;
    height: 698px;
    margin-top: 95px;
}
.section5 {
    border: 1px solid #EDF7FF;
    background-color: #EDF7FF;
    border-radius: 20px;
    width: 1274.3px;
    height: 682px;
    margin: -168px 0 0 0 ;
}
.sticker {
    margin: 0 0 0 1115px;
}
.sec5_title1 {
    color: #F58A07;
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    font-weight: 600;
    border: 1px solid #f58A07;
    border-radius: 31px;
    background-color: #FFFFFF;
    width: 194px;
    height: 40px;
    padding: 8px 22px;
    margin: 48px 0 0 48px;
}
.sec5_title2 {
    color: #063255;
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    font-weight: 600;
    border: 1px solid #A8BCCC;
    border-radius: 31px;
    background-color: #EDF7FF;
    width: 155px;
    height: 40px;
    padding: 8px 22px;
    margin: 48px 0 0 24px;
}
.sec5_title3 {
    /* color 30% daraa daxin ergej harah */
    color: #063255;     
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    font-weight: 600;
    border: 1px solid #A8BCCC;
    border-radius: 31px;
    background-color: #EDF7FF;
    width: 183px;
    height: 40px;
    padding: 8px 22px;
    margin: 48px 0 0 24px;
}
.title11 {
    display: flex;
    gap: 24px;
}
.sec5_title4 {
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    width: 572px;
    height: 168px;
    margin: 80px 0 0 48px;
}
.sec5_text1 {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    width: 510px;
    height: 210px;
    margin: 25px 0 0 48px;
}
.sec5_link {
    font-size: 16px;
    font-weight: 500px;
    line-height: 17px;
    color: #f58A07;
    width: 160px;
    height: 17px;
    margin: 40px 0 0 48px;
}
.phototeam {
    margin: -530px 42px 48px 760px;
}
                    /* CTA SECTION #6 */
.sec6 {
    border: 1px solid #F58A07;
    /* width: 1920px; */
    height: 518px;
    background-color: #F58A07;
    margin-top: 128px;
}
.sec6_title {
    font-size: 48px;
    line-height: 56px;
    font-weight: 600;
    width: 532px;
    height: 168px;
    margin: 128px 0 0 128px;
}
.sec6_link {
    font-size: 16px;
    font-weight: 600;
    line-height: 17px;
    text-align: center;
    color: #F58A07;
    padding: 18px 15px;
    border: 1px solid white;
    border-radius: 31px;
    background-color: #FFFFFF;
    width: 216px;
    height: 54px;
    margin: 40px 0 0 128px;
}
.sec6 {
    display: flex;
}
                        /* VIDEO SECTION #7 */
.sec7 {
    border: 1px solid hidden;
    width: 1280px;
    height: 501px;
    margin-top: 128px;
}
.sec7_title1 {
    font-size: 48px;
    line-height: 56px;
    font-weight: 600;
    color: #0D1317;
    width: 550px;
    height: 112px;
    margin: 78px 0 0 0;
}
.sec_text {
    font-size: 18px;
    color: #5B5B5B;
    line-height: 30px;
    font-weight: 500;
    width: 550px;
    height: 90px;
    margin: 24px 0 0 0;
}
.sec7_imgname {
    display: flex;
}
.photo_ceo {
    margin: 40px 0 0 0;
}
.sec7_name {
    margin: 46px 0 0 24px;
}
.sec7_name1 {
    color:#063255;
    font-size: 24px;
    line-height: 171%;
    font-weight: 500;
}
.sec7_name2 {
    color:#F58A07;
    font-size: 18px;
    line-height: 171%;
    font-weight: 500;
}
.sec7 {
    display: flex;
}
.sec7_video {
    margin: 0 0 0 110px;
}
.sec7_playbutton {
    display: flex;
    margin: -80px 0 0 1020px;
}
.sec7_playicon {
    position: relative;
    margin: 0 0 18px -30px;
}
.sec7_text2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 18.32px;
    color: white;
    margin: 15px 0 0 47px;
}
                            /* LATEST SECTION #8 */
.title5 {
    font-size: 24px;
    line-height: 36px;
    margin-top: 30px;
    font-weight: 500;
}
.container2 {
    display: flex;
    justify-content: space-between;
    /* width: 740px; */
    margin-top: 64px;
    gap: 40px;
}
.text3 {
    color: #5B5B5B;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    margin-top: 17px;
}
.sec8 {
    border: 5px solid #DCEAF5;
    /* width: 1920px; */
    height: 819px;
    background-color: #DCEAF5;
    margin-top: 128px;
}
.sec8_title{
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    margin: 96px 0 0 320px;
}
                            /* FOOTER SECTION #9 */
footer {
    border: 1px solid #063255;
    background-color: #063255;
    /* width: 1920px; */
    height: 463px;
}
.corner1 {
    border: 1px solid #f58A07;
    background-color: #f58A07;
    border-top-right-radius: 20px;
    width: 53px;
    height: 144px;
    margin-top: -65px;
}
.corner2 {
    border: 1px solid #f58A07;
    background-color: #f58A07;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 53px;
    height: 287px;
    margin-top: -340px;
}
.foot_corners{
    display: flex;
    justify-content: space-between;
    /* width: 1920px; */
}
.foot_col1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.foot_col2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.foot_col3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 25px;
}
.foot_col4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}
.foot_logo {
    width: 120px;
    height: 27px;
}
.foot_title {
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.03em;
    width: 351px;
    height: 88px;
}
.foot_title1 {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
}
.foot_title2 {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.foot_input {
    border: 1px solid white;
    border-radius:31px ;
    width: 342px;
    height: 54px;
    font-size: 16px;
    color: #9c9c9c;
}
.foot_link {
    border: 1px solid #F58A07;
    border-radius: 31px;
    background-color: #F58A07;
    width: 156px;
    height: 54px;
    padding: 17px 32px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    line-height: 19px;
}
.foot_box1 {
    display: flex;
    justify-content: space-between;
    border: 1px solid hidden;
    margin-top: 80px;
    width: 1280px;
    height: 199px;
}
.foot_box2 {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    height: 24px;
    margin-top: 80px;
}

.foot_text {
    color: white;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}
.foot_text1 {
    color: white;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}