* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

                /* HEAD NAV*/
header {
    margin-top: 16px;
    margin-left: 320px;
    margin-right: 320px;
}
.navbar {
    display: flex;
    justify-content: space-around;
    gap: 32px;
    line-height: 24px;
    font-size: 16px;
}
.navbar ul li {
    display: flex;
    list-style: none;
    position: relative;
    margin-left: 401px ;
    gap: 32px;
}
.navbar ul li a {
    text-decoration: none;
    color: black;
} 
.text_call {
    color:rgba(245, 138, 7, 1);
    border: 0px solid rgba(245, 138, 7, 0.1);
    background-color: rgba(245, 138, 7, 0.1);
    border-radius: 30%;
    padding: 14px 35px 14px 35px ;
}

            /* HEADER */
section {
    position: relative;
    margin-top: 16px;
    background-color: rgba(220, 234, 245, 1);
    height: 700px;

   
}
.container {
    position: absolute;
    display: flex;
    margin: 117px 10px 0px 320px;
}
 
.text {
    border: 1px solid hidden;
    padding: 0px;
    width: 576px;
    height: 439px;

}
.title {
    position: relative;
    width: 576px;
    height: 144px;
    font-weight: 600px;
    font-size: 64px;
    line-height: 72px;
    color: rgba(29, 52, 68, 1);
    letter-spacing: -0.03em;
 
}
.title1 {
    font-weight: 500px;
    font-size: 18px;
    line-height: 30px;
}
.title2 {
    border: 0px solid #f58A07;
    background-color: #f58A07 ;
    width: 199px;
    border-radius: 27px;
    padding: 18px 32px 19px 32px;
    margin-top: 25px;
}

.title3 {
    color: #1d3444;
    font-size: 16px;
    font-weight: 600;
    margin-left: 250px;
    margin-top: -45px;
}

.title4 {
    color: #394149 50%;
    font-size: 18px;
    margin-top: 70px;

}
 .head_logo {
    margin-top: 20px;
    display: flex;
    gap: 32px;
 }

.photoman {
    display: inline-block;
    margin: -63px 10px 0 0;
    
}
        /* HELP SECTION  */

.text1 {
    font-size: 48px;
    width: 735px;
    height: 112px;
    margin: 96px 0 0 320px;
    line-height: 56px;
}
.text2 {
    font-size: 18px;
    width: 735px;
    height: 90px;
    line-height: 30px;
    margin: 27px 0 0 320px;
}
.container2 {
    display: flex;
    justify-content: space-between;
    height: 1280px;
    width: 740px;
    margin: 64px 0 0 321px;
    gap: 40px;

}
.container2 img {
    border: 1px solid hidden;
    border-radius: 20px;
}
.title5 {
    font-size: 24px;
    line-height: 106.5%;
    font-style: normal;
    margin-top: 30px;
}
.text3 {
    color: #5B5B5B;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    margin-top: 17px;
}
.link {
    margin-top: 24px;
    color: #F58A07;
    font-size: 16px;
    font-weight: 500;
    line-height: 106.5%;
}


