* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
}

header {
    text-align: center;
}

main {
    display: flex;
    justify-content: space-between;
}
footer {
    display: flex;
    justify-content: flex-end;

}