* {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    /* margin: 0;
    padding: 0; */
}
.golluulagch{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
                    /* HEAD NAV*/
.head_container {
    display: flex;
    border: 1px solid hidden;
    width: 1280px;
    height: 52px;
    padding: 14px 0 ;
    /* margin: 16px 328px; */
}
.header_logo {
    margin-top: 0;
}
.header_menu{
    display: flex;
    gap: 32px;
    margin: 0 0 0 470px;
}
.header_link {
    font-size: 16px;
    font-weight: 600;
    line-height: 17px;
    padding: 18px 32px;
    width: 190px;
    height: 52px;
    color:#F58A07;
    border: 0px solid rgba(245, 138, 7, 0.1);
    background-color: rgba(245, 138, 7, 0.1);
    border-radius: 31%;
    margin: -15px 0 0 47px;
}
.header_menu a {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    font-style: normal;
    color: #394149;
    text-decoration: none;
}
                       /* HEADER1 #1 */

.header1 {
    border: 1px solid hidden;
    width: 1280px;
    height: 650px;
    margin-top: 108px;
}

.head_title1 {
    font-size: 64px;
    font-weight: 600;
    line-height: 72px;
    color: #1D3444;
    width: 618px;
    height: 288px;
    margin-top: 50px;
}
.head_text1 {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #5B5B5B;
    width: 510px;
    height: 59px;
    margin-top: 24px;
}
.head_btn {
    font-size: 15px;
    font-weight: 600;
    line-height: 106%;
    color: #FFFFFF;
    border: 1px solid #F58A07;
    background-color: #F58A07;
    border-radius: 27px;
    padding: 18px 32px;
    width: 180px;
    height: 54px;
    margin-top: 54px;
}
.head_photo1 {
    border-radius: 20px;
    margin-left: 46px;
}
.orange1 {
    position: absolute;
    background-color: rgba(245, 138, 7, 1);
    mix-blend-mode: multiply;
    width: 153px;
    height: 650px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.h1container {
    display: flex;
}
                     /* careers_section #1 */
.careers_section {
    border: 1px solid hidden;
    width: 1300px;
    height: 522px;
    margin-top: 127px;
}
.careers_box1 {
    border: 1px solid hidden;
    background-color: rgba(193, 228, 255, 0.3);
    border-radius: 20px;
    width: 400px;
    height: 181px;
}
.careers_title1 {
    color: #0D1317;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: 30px;
    letter-spacing: -0.03em;
    margin: 32px 0 0 40px;
}
.careers_text1 {
    color: #394149;
    opacity: 0.6;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    margin: 8px 0 0 40px;

}
.careers_link1 {
    font-size: 18px;
    font-weight: 400;
    line-height: 106%;
    color: #F58A07;
    margin-top: 32px;
    margin: 32px 0 0 40px;

}
.car_box {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 40px;
    margin: 64px 0 0 0;
}
.careers_title {
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    color: #0D1317;
    width: 676px;
    height: 56px;
    margin: 96px 0 0 0px;
}

                   /* LATEST SECTION #8 */
.title5 {
    font-size: 24px;
    line-height: 36px;
    margin-top: 30px;
    font-weight: 500;
}
.container2 {
    display: flex;
    justify-content: space-between;
    /* width: 740px; */
    margin-top: 64px;
    gap: 40px;
}
.text3 {
    color: #5B5B5B;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    margin-top: 17px;
}
.sec8 {
    border: 5px solid #DCEAF5;
    /* width: 1920px; */
    height: 819px;
    background-color: #DCEAF5;
    margin-top: 750px;

}
.sec8_title{
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    margin: 96px 0 0 450px;
}
                            /* FOOTER SECTION #9 */
footer {
    border: 1px solid #063255;
    background-color: #063255;
    /* width: 1920px; */
    height: 463px;
}
.corner1 {
    border: 1px solid #f58A07;
    background-color: #f58A07;
    border-top-right-radius: 20px;
    width: 53px;
    height: 144px;
    margin-top: -65px;
}
.corner2 {
    border: 1px solid #f58A07;
    background-color: #f58A07;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 53px;
    height: 287px;
    margin-top: -340px;
}
.foot_corners{
    display: flex;
    justify-content: space-between;
    /* width: 1920px; */
}
.foot_col1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.foot_col2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.foot_col3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 25px;
}
.foot_col4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}
.foot_logo {
    width: 120px;
    height: 27px;
}
.foot_title {
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.03em;
    width: 351px;
    height: 88px;
}
.foot_title1 {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
}
.foot_title2 {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
input[type=text], select {
    border: 1px solid white;
    border-radius:31px ;
    width: 342px;
    height: 54px;
}
.foot_input {
    font-size: 16px;
    color: #9c9c9c;
    margin: 18px 0 0 32px;
}
.foot_link {
    border: 1px solid #F58A07;
    border-radius: 31px;
    background-color: #F58A07;
    width: 156px;
    height: 54px;
    padding: 17px 32px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    line-height: 19px;
}
.foot_box1 {
    display: flex;
    justify-content: space-between;
    border: 1px solid hidden;
    /* margin-top: 80px; */
    width: 1280px;
    height: 199px;
}
.foot_box2 {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    height: 24px;
    margin-top: 80px;
}

.foot_text {
    color: white;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}
.foot_text1 {
    color: white;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}