* {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
                     /* HEAD NAV*/
.head_container {
    display: flex;
    border: 1px solid hidden;
    width: 1280px;
    height: 52px;
    padding: 14px 0 ;
    margin: 16px 328px;
}
.header_logo {
    margin-top: 0;
}
.header_menu{
    display: flex;
    gap: 32px;
    margin: 0 0 0 470px;
}
.header_link {
    font-size: 16px;
    font-weight: 600;
    line-height: 17px;
    padding: 18px 32px 18px 38px;
    width: 190px;
    height: 52px;
    color:#F58A07;
    border: 0px solid rgba(245, 138, 7, 0.1);
    background-color: rgba(245, 138, 7, 0.1);
    border-radius: 31%;
    margin: -15px 0 0 47px;
}
.header_menu a {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    font-style: normal;
    color: #394149;
    text-decoration: none;
}
                        /* HEADER1 #1 */

.header1 {
    border: 1px solid hidden;
    width: 1280px;
    height: 650px;
    margin: 108px 320px 0 320px;
}

.head_title1 {
    font-size: 64px;
    font-weight: 600;
    line-height: 72px;
    color: #1D3444;
    width: 618px;
    height: 216px;
    margin-top: 132px;
}
.head_text1 {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #5B5B5B;
    width: 510px;
    height: 59px;
    margin-top: 24px;
}
.head_btn {
    font-size: 15px;
    font-weight: 600;
    line-height: 106%;
    color: #FFFFFF;
    border: 1px solid #F58A07;
    background-color: #F58A07;
    border-radius: 27px;
    padding: 18px 32px;
    width: 171px;
    height: 54px;
    margin-top: 32px;
}
.head_photo1 {
    border-radius: 20px;
    margin-left: 46px;
}
.orange1 {
    position: absolute;
    background-color: rgba(245, 138, 7, 1);
    opacity: 90%;
    width: 153px;
    height: 650px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.h1container {
    display: flex;
}

                        /* FEATURES SECTION #2 */
.features {
    border: 3px solid red;
    width: 1376px;
    height: 556px;
    margin: 90px 272px 0 272px;

}
.head_title2 {
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    color: #0D1317;
    width: 410;
    height: 56px;
    margin: 128px 0 0 76px;
}
.head_text2 {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #5B5B5B;
    width: 583px;
    margin: 24px 0 0 76px;
}
.head_text3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #5B5B5B;
    width: 583px;
    margin: 20px 0 0 90px;
}
.features {
    display: flex;
}
.orange2 {
    position: absolute;
    background-color: rgba(245, 138, 7, 1);
    opacity: 90%;
    width: 95px;
    height: 97px;
    border-radius: 20px;
    margin: 128px 0 0 -48px;
}
                        /* 2nd FEATURES */
.features {
    border: 3px solid blue;
    width: 1376px;
    height: 556px;
    margin: 700px 320px 0 0px;
}
.head_title3 {
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    color: #0D1317;
    width: 410;
    height: 56px;
    margin: 128px 0 0 76px;
}

.head_text4 {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #5B5B5B;
    width: 583px;
    margin: 24px 0 0 76px;
}