*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*header heseg ehlev*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 1280px;
    margin-top: 30px;
    margin-bottom: 30px;

}            /* header heseg duusav */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: sticky;
    font-size: 16px;
}

nav a {
    text-decoration: none;
    margin-left: 32px;
    font-weight: bold;
    color: black;

}

.call {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(245, 138, 7, 0.1);
    font-weight: bold;
    color: #F58A07;
    border-radius: 31px;
    width: 173px;
    height: 52px;
}
.header-section .header-container {   /*header section start*/
    display: flex;
    max-width: 1280px;
    margin: auto;
   
}

.content h1 {
   
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.03em;
    color: #1D3444;
    margin-top: 262px;
    width: 618px;
    height: 288px;


}
.content h1 p 
{
    margin-top: 24px;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
    width: 557px;
    height: 90px;
}

.view-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 365px;
    margin-top: 32px;
}

.view {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 106.5%;
    color: #FFFFFF;
    width: 199px;
    background: #F58A07;
    border-radius: 27px;
    width: 199px;
    height: 54px
}
.orig-img
{   
    margin-top: 177px;
    margin-left: 46px;
    border-radius: 20px;
    width: 616px;
    height: 650px;
    margin-top: 100px;
    background: url('../images/car-header.jpg');
}    /*header section finish*/
.careers-section
{
    margin: auto;
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.section-container p
{   margin-top: 127px;
    width: 676px;
    height: 56px;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0D1317;
   
}
.career1 {
    margin-top: 64px;
    display: inline-block;
    margin: 40px;
    
}
.car-bg
{
    width: 300px;
    height: 181px;
    background: rgba(193, 228, 255, 0.3);
    border-radius: 20px;
  

}

.career1 h3 {
    margin-left: 40px;
    margin-top: 32px;
    font-size: 24px;
    line-height: 30px;
    color: #0D1317;
   
 
}
.career1 p {
    margin-top: 8px;
    font-size: 18px;
    line-height: 28px;
    color: #394149;
    opacity: 0.6;
    margin-left: 40px;
}

.career1 a {
    margin-top: 32px;
    font-weight: 400;
    font-size: 18px;
    color: #F58A07;
    margin-left: 40px;   /*career1 finish*/
}             /*career1 finish*/
.career2 {
    margin-top: 64px;
    display: inline-block;
    margin: 40px;
}


.career2 h3 {
    margin-left: 40px;
    font-size: 24px;
    line-height: 30px;
    color: #0D1317;
    
 
}
.career2 p {
    margin-top: 8px;
    font-size: 18px;
    line-height: 28px;
    color: #394149;
    opacity: 0.6;
    margin-left: 40px;
}

.career2 a {
    margin-top: 32px;
    font-weight: 400;
    font-size: 18px;
    color: #F58A07;
    margin-left: 40px;   /*career2 finish*/
}            /*career2 finish*/
.career3 {
    margin-top: 64px;
    display: inline-block;
    margin: 40px;
}

.career3 h3 {
    margin-left: 40px;
    margin-top: 32px;
    font-size: 24px;
    line-height: 30px;
    color: #0D1317;
 
 
}
.career3 p {
    margin-top: 8px;
    font-size: 18px;
    line-height: 28px;
    color: #394149;
    margin-left: 40px;
}

.career3 a {
    margin-top: 32px;
    font-weight: 400;
    font-size: 18px;
    color: #F58A07;
    margin-left: 40px;  /*career3 finish*/
}       /*career3 finish*/
.career4 {
    margin-top: 64px;
    display:inline-block;
    margin: 40px;
}

.career4 h3 {
    margin-left: 40px;
    margin-top: 32px;
    font-size: 24px;
    line-height: 30px;
    color: #0D1317;
   
 
}
.career4 p {
    margin-top: 8px;
    font-size: 18px;
    line-height: 28px;
    color: #394149;
    opacity: 0.6;
    margin-left: 40px;
}

.career4 a {
    margin-top: 32px;
    font-weight: 400;
    font-size: 18px;
    color: #F58A07;
    margin-left: 40px;
}     /*career4 finish*/
.career5 {
    margin-top: 64px;
    display: inline-block;
    margin: 40px;
}

.career5 h3 {
   
    margin-left: 40px;
    margin-top: 32px;
    font-size: 24px;
    line-height: 30px;
    color: #0D1317;
    
 
}
.career5 p {
    margin-top: 8px;
    font-size: 18px;
    line-height: 28px;
    color: #394149;
    opacity: 0.6;
    margin-left: 40px;
}

.career5 a {
    margin-top: 32px;
    font-weight: 400;
    font-size: 18px;
    color: #F58A07;
    margin-left: 40px;
}          /*career5 finish*/ 
.Lasest-section    /*lasest section start*/
{
    background: #DCEAF5;
    margin: 0 auto;
    height: 819px;
    
 }

.lasest-container h1
{
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0D1317;
    margin-top: 128px;
    max-width: 1280px;
    display: flex;
}

.blog-items {
    margin-top: 64px;
    display: flex;
    gap: 40px;
}

.blog-items img {
    border-radius: 20px 20px 0 0;
    width: 400px;
    height: 230px;
}
.blog-color
{
    background-color: #FFFFFF;
    border-radius: 0 0 20px 20px;
    width: 400px;
    height: 277px;
    padding: 32px;
}

.blog-items h3 {
    color: #0D1317;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    margin: 0;
}
.blog-items p {
    margin: 16px 0 24px 0;
    color: #5B5B5B;
    font-weight: 500;
    font-size: 16px;
}

.blog-items a {
    font-weight: 500;
    font-size: 16px;
    color: #f58a07;
    margin-bottom: 96px;
}
.footer-container     /*fooder start*/
{
    max-width: 1920px;
    height: 463px;
    background: #063255;
    margin: auto;
}
.footer-top
{
    
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
}
.footer-top svg
{   
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    bottom: 5.38%;
    Width:120px;
    Height:27px;
    background: #FFFFFF;
   
}
.footer-top-text
{  
    display: flex;
    margin-top: 139px; 
    font-size: 36px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    width: 351px;
    height: 88px;
}
.social
{
    display: flex;
    flex-direction: row;
    width: 136px;
    height: 20px;
    gap: 20px;
}   

.social-icon-face
{
   display: flex;
    gap: 24px;
    margin-right: 200px;
}
.social-icon-face img
{
  
  margin-top: 260px;
  left: 29.16%;
  bottom: 8.33%;

  
 
}
.footer-bottom
{
    display: flex;
    margin-left: 980px;
    margin-top: -120px; 
}
.company h1
{   
    justify-content: space-around;
    align-content: space-between;
    width: 92px;
    height: 27px;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    display: flex;
   
}

.com-about
{  
    margin-top: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
} 
.com-careers
{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF 
} 
.com-service
{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}  
.com-blog
{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.connect
{
   display: flex;
   margin-top: -230px;
   margin-left: 1200px;
   flex-direction: column;
   width: 79px;
   height: 27px;


}
.connect h1
{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    margin-top: 26px;
  
}
.connect-text
{
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF; 
    margin-top: 26px;
}
.connect-num
{
   font-weight: 500;
   font-size: 16px;
   line-height: 24px;
   color: #FFFFFF;
   margin-top: 16px;
}
.footer-foot
{   display: inline-block;
    margin-left: 400px;
    margin-top: 200px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    align-content:flex-end ;
}
