* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*header heseg ehlev*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 1280px;
    margin-top: 30px;
    margin-bottom: 30px;

}            /* header heseg duusav */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: sticky;
    font-size: 16px;
}

nav a {
    text-decoration: none;
    margin-left: 32px;
    font-weight: bold;
    color: black;

}

.call {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(245, 138, 7, 0.1);
    font-weight: bold;
    color: #F58A07;
    border-radius: 31px;
    width: 173px;
    height: 52px;
}
.header-section .header-container {   /*header section start*/
    display: flex;
    max-width: 1280px;
    margin: auto;
   
}

.content h1 {
   
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.03em;
    color: #1D3444;
    margin-top: 132px;
    width: 618px;
    height: 216px;

}
.content h1 p 
{
    margin-top: 24px;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
    width: 510px;
    height: 59px;
}

.work-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 365px;
    margin-top: 32px;
}

.work {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 106.5%;
    color: #FFFFFF;
    width: 199px;
    background: #F58A07;
    border-radius: 27px;
    width: 199px;
    height: 54px
}
.orig-img
{   
    
    border-radius: 20px;
    width: 616px;
    height: 650px;
    margin-top: 100px;
    background: url('../images/drinkcoffee.jpg');
}
.orange-img
{
    width: 180px;
    height: 650px;
    background: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 0px 19px 20px 0px;
    transform: rotate(-180deg); 
  
}      /*header section finish*/
.Feature-section
{
    display: flex;

    margin: 0 auto;
    max-width: 1280px;
} 
.feature1   /*feature1 start*/
{
    max-width: 1280px;
    display: flex;
    flex-direction: row;

}
.feature1-image
{   
    margin: 0 auto;
    background: url('../images/feature1.jpg');
    border-radius: 20px;
    width: 668px;
    height: 550px;
    margin-top: 128px;
}

.feature1-text
{
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;
}
.feature1-text h1
{   
    
    margin-top: 216px;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0D1317; 
    margin-left: 77px; 
   
}
.feature1-text  p
{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    width: 583px;
    height: 90px;
    color: #5B5B5B;
    margin: 0 auto;
    margin-top: 24px;
    margin-left: 77px;
}
.bullets .ellipse1
{
    width: 5px;
    height: 5px;
    background: #0D1317;
    margin-top: 36px;
    margin-left: 77px;
}
.ellipse1 p
{
    margin-left: 8px;
     width: 109px;
     height: 28px;
     font-size: 16px;
     line-height: 28px;
     color: #5B5B5B;
}
.bullets .ellipse2
{
    width: 5px;
    height: 5px;
    background: #0D1317;
    margin-top: 36px;
    margin-left: 77px;
}
.ellipse2 p
{
    margin-left: 8px;
    width: 334px;
    height: 28px;
     font-size: 16px;
     line-height: 28px;
     color: #5B5B5B;
}
.bullets .ellipse3
{
    width: 5px;
    height: 5px;
    background: #0D1317;
    margin-top: 36px;
    margin-left: 77px;
}
.ellipse3 p
{
    margin-left: 8px;
    width: 207px;
     height: 28px;
     font-size: 16px;
     line-height: 28px;
     color: #5B5B5B;
}    /*feature1 finish*/
.feature2
{
    margin: auto;
    display: flex;
    max-width: 1280px;
   ;
}
.feature2-text h1
{   
    margin-top: 285px;
    width: 302px;
    height: 56px;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0D1317;
    
}
.feature2-text p
{
    width: 580px;
    height: 150px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
    margin-right: 20px;
  
}
.feature2-image
{
    background: url('../images/feature2.jpg');
    border-radius: 20px;
    width: 668px;
    height: 550px;
    margin-top: 128px;
}   /*feature2 finish*/
.feature3 
{
    max-width: 1280px;
    margin: auto;
    display: flex;
}
.feature3-image
{
    width: 668px;
    height: 550px;
    margin-top: 128px;
    background: url('../images/feature3.jpg');
    border-radius: 20px;
    left: 272px;
    top: 2272px;
}
.feature3-text
{
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;
}
.feature3-text h1
{   
    
    margin-top: 216px;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0D1317; 
    margin-left: 77px; 
   
}
.feature3-text  p
{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    width: 583px;
    height: 90px;
    color: #5B5B5B;
    margin: 0 auto;
    margin-top: 24px;
    margin-left: 77px;
}
.fea-bullets .fea-ellipse1
{
    width: 5px;
    height: 5px;
    background: #0D1317;
    margin-top: 36px;
    margin-left: 77px;
}
.fea-ellipse1 p
{
    margin-left: 8px;
    width: 212px;
    height: 28px;
     font-size: 16px;
     line-height: 28px;
     color: #5B5B5B;
}
.fea-bullets .fea-ellipse2
{
    width: 5px;
    height: 5px;
    background: #0D1317;
    margin-top: 36px;
    margin-left: 77px;
}
.fea-ellipse2 p
{
    margin-left: 8px;
    width: 201px;
    height: 28px;
     font-size: 16px;
     line-height: 28px;
     color: #5B5B5B;
}
.fea-bullets .fea-ellipse3
{
    width: 5px;
    height: 5px;
    background: #0D1317;
    margin-top: 36px;
    margin-left: 77px;
}
.fea-ellipse3 p
{
    margin-left: 8px;
    width: 263px;
    height: 28px;
     font-size: 16px;
     line-height: 28px;
     color: #5B5B5B;
}      /*feature3 finish*/
.feature4
{
    margin: auto;
    display: flex;
    max-width: 1280px;
   ;
}
.feature4-text h1
{   
    margin-top: 285px;
    width: 469px;
    height: 56px;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0D1317;
    
}
.feature4-text p
{
    width: 580px;
    height: 150px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
    margin-right: 20px;
  
}
.feature4-image
{
    background: url('../images/feature4.jpg');
    border-radius: 20px;
    width: 668px;
    height: 550px;
    margin-top: 128px;
}   /*feature4 finish*/
.feature5 
{
    max-width: 1280px;
    margin: auto;
    display: flex;
}
.feature5-image
{
    width: 668px;
    height: 550px;
    margin-top: 128px;
    background: url('../images/feature5.jpg');
    border-radius: 20px;
    left: 272px;
    top: 2272px;
}
.feature5-text
{
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;
}
.feature5-text h1
{   
    
    margin-top: 216px;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0D1317; 
    margin-left: 77px; 
   
}
.feature5-text  p
{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    width: 583px;
    height: 90px;
    color: #5B5B5B;
    margin: 0 auto;
    margin-top: 24px;
    margin-left: 77px;
}
.feature-bullets .feature-ellipse1
{
    width: 5px;
    height: 5px;
    background: #0D1317;
    margin-top: 36px;
    margin-left: 77px;
}
.feature-ellipse1 p
{
    margin-left: 8px;
    width: 257px;
    height: 28px;
     font-size: 16px;
     line-height: 28px;
     color: #5B5B5B;
}
.feature-bullets .feature-ellipse2
{
    width: 5px;
    height: 5px;
    background: #0D1317;
    margin-top: 36px;
    margin-left: 77px;
}
.feature-ellipse2 p
{
    margin-left: 8px;
    width: 175px;
    height: 28px;
     font-size: 16px;
     line-height: 28px;
     color: #5B5B5B;
}
.feature-bullets .feature-ellipse3
{
    width: 5px;
    height: 5px;
    background: #0D1317;
    margin-top: 36px;
    margin-left: 77px;
}
.feature-ellipse3 p
{
    margin-left: 8px;
    width: 149px;
    height: 28px;
     font-size: 16px;
     line-height: 28px;
     color: #5B5B5B;
}      /*feature5 finish*/   /*feature section finish*/
.Video-section  /*video section start*/
{       display: flex;
        gap: 110px;
        margin: 0 auto;
        max-width: 1280px;
}
    
.video-left
    {
        width: 550px;
        height: 346px;
    }
.video-left h2
    {
        width: 550px;
        height: 112px;
        font-weight: 600;
        font-size: 48px;
        line-height: 56px;
        color: #0D1317;
        margin-top: 206px;
    }
    
.video-left p
    {
        margin-top: 24px;
        font-size: 18px;
        font-weight: 500;
        line-height: 30px;
        color: #5B5B5B;
    }
    
.video-image
    {
        display: flex;
        margin-top: 40px;
    }
.video-image img
    {
        width: 80px;
        height: 80px;
    }
    
    .video-image ul
    {
        list-style: none;
        margin-left: 24px;
    }
    
    .video-image ul li:nth-child(1)
    {
        font-weight: 500;
        font-size: 24px;
        color: #063255;
    }
    
    .video-image ul li:nth-child(2)
    {
        font-weight: 500;
        font-size: 18px;
        color: #F58A07;
    }
    
    .person
    {
        margin-top: 128px;
        width: 620px;
        height: 501px;
        position: relative;
    }
    
    .play-video
    {
        display: flex;
        position: absolute;
        top: 410px;
        left: 40px;
       
    }
    .play-video img
    {
        width: 51px;
        height: 51px;
        background: #F58A07;
        transform: rotate(0);  
 
    }
    
    .play-video p
    {
        color: white;
        font-weight: 600;
        font-size: 18px;
        margin: 0 0 0 17px;
        

    }
                   /*video section finish*/
.Lasest-section    /*lasest section start*/
{
    background: #DCEAF5;
    margin: 0 auto;
    height: 819px;
    
 }

.lasest-container h1
{
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0D1317;
    margin-top: 128px;
    max-width: 1280px;
    display: flex;
}

.blog-items {
    margin-top: 64px;
    display: flex;
    gap: 40px;
}

.blog-items img {
    border-radius: 20px 20px 0 0;
    width: 400px;
    height: 230px;
}
.blog-color
{
    background-color: #FFFFFF;
    border-radius: 0 0 20px 20px;
    width: 400px;
    height: 277px;
    padding: 32px;
}

.blog-items h3 {
    color: #0D1317;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    margin: 0;
}
.blog-items p {
    margin: 16px 0 24px 0;
    color: #5B5B5B;
    font-weight: 500;
    font-size: 16px;
}

.blog-items a {
    font-weight: 500;
    font-size: 16px;
    color: #f58a07;
    margin-bottom: 96px;
}
.footer-text-button h1
{
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    width: 141px;
    height: 27px;
    color: #FFFFFF;
    margin-left: 1250px;
    margin-top: -15px;
}
input
{
    background: #FFFFFF;
    border-radius: 31px;
    width: 342px;
    height: 54px;
    font-size: 16px;
    color: #9C9C9C;
    left: 67.19%;
    right: 26.46%;
    top: 88.89%;
    bottom: 10.44%;
    margin-left: 1250px;
    margin-top: -5px;
}
button
{
    width: 156px;
    height: 54px;
    background: #F58A07;
    border-radius: 31px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    margin-left: 1250px;
    margin-top: 15px;
}

.footer-foot h1
{   display: inline-block;
    margin-left: 320px;
    margin-top: 80px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
   
    gap: 5px;
}
.footer-foot p
{   display: inline-block;
    margin-left: 320px;
     font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
} 
.hoyor-shar
{
    position: relative;
}
.shar-left::after
{
    content: "";
    position: absolute;
    background: #F58A07;
    width: 53px;
    height: 144px;
    left: 45px;
    top: 2810px;
    border-radius: 0px 20px 0px 0px;
    z-index: 1;
}
.shar-right::after
{
    content: "";
    position: absolute;
    background: #F58A07;
    border-radius: 20px 0px 0px 20px;
    width: 53px;
    height: 287px;
    left: 1915px;
    top: 2580px;
    z-index: 1;

}
  
