* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*header heseg ehlev*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 1280px;
    margin-top: 30px;
    margin-bottom: 30px;

}            /* header heseg duusav */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: sticky;
    font-size: 16px;
}

nav a {
    text-decoration: none;
    margin-left: 32px;
    font-weight: bold;
    color: black;

}

.call {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(245, 138, 7, 0.1);
    font-weight: bold;
    color: #F58A07;
    border-radius: 31px;
    width: 173px;
    height: 52px;
}

.banner {
    background: #DCEAF5;

}

.banner-container {
    display: flex;
    max-width: 1280px;
    margin: auto;
    justify-content: center;
}

.content h1 {
   
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.03em;
    color: #1D3444;

}

.ni {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 365px;
}

.see {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 106.5%;
    color: #FFFFFF;
    width: 199px;
    background: #F58A07;
    border-radius: 27px;
    width: 199px;
    height: 54px
}

.our {

    font-weight: 600;
    font-size: 16px;
    line-height: 106.5%;
    color: #1D3444;
}

.work {
    margin-top: 56px;
    margin-bottom: 16px;
}


.logo {
    display: flex;
    gap: 45px;
}

/* identity section start */
.identity {
    margin: auto;
    max-width: 1280px;
    
}

.identity .we {
    margin-top: 96px;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    letter-spacing: -0.03em;
    color: #1D3444;
    margin-bottom: 27px;
}

.loren {
    font-weight: 500;
    font-size: 18px;
    color: #5B5B5B;
    margin-bottom: 64px;

}

.middle {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
}

img {
    border-radius: 20px;
}


.b {
    margin-top: 33px;
    font-weight: 500;
    font-size: 24px;
    line-height: 106.5%;
    letter-spacing: -0.03em;
    color: #0D1317;
}

.b p {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #5B5B5B;
    margin-bottom: 24px;
}

a {
    font-weight: 500;
    font-size: 16px;
    line-height: 106.5%;
    color: #F58A07;
    /* margin-bottom: 96px; */
}

/* identity section finish */

/* build section start*/
.build {
    margin-top: 96px;
    background: #EDF7FF;
}

.about {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1280px;
    margin: auto;
    margin-top: 96px;

}

.abouttext {

    margin-top: 96px;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.03em;
    color: #0D1317;
    font-size: 36px;
    width: 50%;
}

.loren {
   margin-right: 40px;
    margin-top: 96px;
    font-size: 18px;
    line-height: 30px;
    color: #1D3444;
    width: 50%;
}

.article-container {
    display: flex;
    max-width: 1280px;
    margin: auto;
}

.article-fueture {
    background: #FFFFFF;
    border-radius: 20px;
    margin: 40px;

}

.article-fueture img {
    display: flex;
    margin-top: 48px;
    margin-left: 41px;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}

.icon-text {
    display: flex;
    flex-direction: column;
    margin-left: 41px;
    font-size: 24px;
    letter-spacing: -0.03em;
    color: #0D1317;
}

.icon-letter {
    margin-top: 16px;
    font-size: 16px;
    line-height: 28px;
    color: #5B5B5B;
    margin-left: 41px;
    margin-bottom: 96px; /*build section finish*/
}

.about-main-container   /*about section start*/
{
display: flex;
}

.about-header {

    max-width: 1280px;
    margin: auto;
    display: flex;
    
}

.ab {
    
    flex-direction: column;
    margin-top: 166px;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0D1317;
}

.ab-text {
    margin-top: 32px;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
    margin-bottom: 48px;



}
.abnum
{
    display: flex;
    margin: auto;
}
.abnum1
{
   
    flex-direction: row;
    font-size: 36px;
    line-height: 50px;
    color: #F58A07;
    margin-top: 48px;
}

.award {
  
    margin-top: 16px;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: -0.03em;
    color: #0D1317;
}

.award-text {
    
    margin-top: 16px;
    font-size: 16px;
    line-height: 28px;
    color: #5B5B5B;
    margin-right: 26px;
}
.about-picture
{   
    display: flex;
    margin:auto;
    margin-top: 88px;
    color: #F58A07;
    margin-left: 83px;
   
}
.about-pic
{   
    background: url('../images/harhuuhen.jpg');
    height: 667px;
    width: 637px;
    border-radius: 20px;
 
 
}
.about-pic-copy
{
    background: #F58A07;
    height: 667px;
    width: 153px;
    border-radius: 20px 0 0 20px;
    mix-blend-mode: multiply;
    margin-bottom: 95px;
}         /*build section finish*/
.Service    /*service section start*/
{   margin: 0 auto;
    width: 1274.39px;
    height: 682px;
    background: #EDF7FF;
    border-radius: 20px; 
    margin-top: 95px;
 }
.service-container
{
    display: flex;
    margin: auto;
    
}
#ribbon-main
{
    position: absolute;
    width: 179px;
    height: 178px;
    left: 1255px;
    top: 3378px;
    
   
}
.service-tab   /*service-tab start*/
{

    display: flex;
    margin-top: 48px;
    margin-left: 48px;
   

 
}
.ser-business
{   
   
    background: #FFFFFF;
    border-radius: 31px; 
    width: 194px;
    height: 40px;
    color: #F58A07;
    font-size: 16px;
    line-height: 24px;
    margin-right: 24px;
}

.ser-digital
{ 
    border: 1px solid #A8BCCC;
    border-radius: 31px;
    margin-left: 24px;
    height: 40px; 
    width: 155px;
    font-size: 16px;
    line-height: 24px;
    color: rgba(6, 50, 85, 0.3);
    
}

.ser-risk
{
    
    border: 1px solid #A8BCCC;
    border-radius: 31px;
    margin-left: 24px;
    width: 183px;
    height: 40px;
    color: rgba(6, 50, 85, 0.3);
    font-size: 16px;
    line-height: 24px;  /*service-tan finish*/
}

/*helping-container start*/
.helping-container
{  
    display: flex;
    margin: auto;
    max-width: 1280px;
    margin-top: 80px;
}
.helping-client
{   
    margin-left: 48px;
    flex-direction: row;
}
.help-research

{  
    width: 572px;
    height: 168px;
   
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0D1317;
}
.help-text
{    
    width: 510px;
    height: 210px;
    margin-top:25px ;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B; 
}
.help-see
{   
    margin-top: 40px;
    font-size: 16px;
    line-height: 106.5%;
    color: #F58A07;
    margin-bottom: 54px; /*helping container finish*/
}
.service-picture    /* service-picture start*/
{
   margin-top: 90px;
   display: flex;
   margin-right: 43px;
   float: right;
 
}
.team
{
    background: url('../images/serviceimage.jpg');
    width: 472px;
    height: 466px;

 
}
.team-orange
{
    background: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px 0px 0px 20px; 
    left: 1080px;
    top: 3414px;
}    /*service-picture finish*/
.cta-container /*CTA section start*/
{   
    margin: 0 auto;
    display: flex;
    max-width: 1280px;
    height: 518px;
    margin-top: 128px;
}
.cta-right  
{
    width: 960px;
    height: 518px;
    background: url('../images/callwoman.jpg');
}
.cta-background
{
    width: 960px;
    height: 518px;
    background: #F58A07;
}
.energy
{
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    margin-left: 125px;
    margin-top: 128px;
}
.see-job
{   
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 106.5%;
    color: #F58A07;
    background: #FFFFFF;
    border-radius: 31px;
    width: 216px;
    height: 54px;
    margin-left: 128px;
}       /*CTA section finish*/
.Video-section  /*video section start*/
{       display: flex;
        gap: 110px;
        margin: 0 auto;
        max-width: 1280px;
}
    
.video-left
    {
        width: 550px;
        height: 346px;
    }
.video-left h2
    {
        width: 550px;
        height: 112px;
        font-weight: 600;
        font-size: 48px;
        line-height: 56px;
        color: #0D1317;
        margin-top: 206px;
    }
    
.video-left p
    {
        margin-top: 24px;
        font-size: 18px;
        font-weight: 500;
        line-height: 30px;
        color: #5B5B5B;
    }
    
.video-image
    {
        display: flex;
        margin-top: 40px;
    }
.video-image img
    {
        width: 80px;
        height: 80px;
    }
    
    .video-image ul
    {
        list-style: none;
        margin-left: 24px;
    }
    
    .video-image ul li:nth-child(1)
    {
        font-weight: 500;
        font-size: 24px;
        color: #063255;
    }
    
    .video-image ul li:nth-child(2)
    {
        font-weight: 500;
        font-size: 18px;
        color: #F58A07;
    }
    
    .person
    {
        margin-top: 128px;
        width: 620px;
        height: 501px;
        position: relative;
    }
    
    .play-video
    {
        display: flex;
        position: absolute;
        top: 410px;
        left: 40px;
       
    }
    .play-video img
    {
        width: 51px;
        height: 51px;
        background: #F58A07;
        transform: rotate(0);  
 
    }
    
    .play-video p
    {
        color: white;
        font-weight: 600;
        font-size: 18px;
        margin: 0 0 0 17px;
        

    }
                   /*video section finish*/
.Lasest-section    /*lasest section start*/
{
    background: #DCEAF5;
    margin: 0 auto;
    height: 819px;
    
 }

.lasest-container h1
{
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0D1317;
    margin-top: 128px;
    max-width: 1280px;
    display: flex;
}

.blog-items {
    margin-top: 64px;
    display: flex;
    gap: 40px;
}

.blog-items img {
    border-radius: 20px 20px 0 0;
    width: 400px;
    height: 230px;
}
.blog-color
{
    background-color: #FFFFFF;
    border-radius: 0 0 20px 20px;
    width: 400px;
    height: 277px;
    padding: 32px;
}

.blog-items h3 {
    color: #0D1317;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    margin: 0;
}
.blog-items p {
    margin: 16px 0 24px 0;
    color: #5B5B5B;
    font-weight: 500;
    font-size: 16px;
}

.blog-items a {
    font-weight: 500;
    font-size: 16px;
    color: #f58a07;
    margin-bottom: 96px;
}
.footer-container     /*fooder start*/
{
    max-width: 1920px;
    height: 463px;
    background: #063255;
    margin: auto;
}
.footer-top
{
    
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
}
.footer-top svg
{   
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    bottom: 5.38%;
    Width:120px;
    Height:27px;
    background: #FFFFFF;
   
}
.footer-top-text
{  
    display: flex;
    margin-top: 139px; 
    font-size: 36px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    width: 351px;
    height: 88px;
}
.social
{
    display: flex;
    flex-direction: row;
    width: 136px;
    height: 20px;
    gap: 20px;
}   

.social-icon-face
{
   display: flex;
    gap: 24px;
    margin-right: 200px;
}
.social-icon-face img
{
  
  margin-top: 260px;
  left: 29.16%;
  bottom: 8.33%;

  
 
}
.footer-bottom
{
    display: flex;
    margin-left: 980px;
    margin-top: -120px; 
}
.company h1
{   
    justify-content: space-around;
    align-content: space-between;
    width: 92px;
    height: 27px;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    display: flex;
   
}

.com-about
{  
    margin-top: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
} 
.com-careers
{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF 
} 
.com-service
{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}  
.com-blog
{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.connect
{
   display: flex;
   margin-top: -230px;
   margin-left: 1200px;
   flex-direction: column;
   width: 79px;
   height: 27px;


}
.connect h1
{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    margin-top: 26px;
  
}
.connect-text
{
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF; 
    margin-top: 26px;
}
.connect-num
{
   font-weight: 500;
   font-size: 16px;
   line-height: 24px;
   color: #FFFFFF;
   margin-top: 16px;
}
.footer-foot
{   display: inline-block;
    margin-left: 400px;
    margin-top: 200px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    align-content:flex-end ;
}