* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: linear-gradient(to top, white,rgb(199, 170, 9));

}
header img {
    max-width: 10%;
    border-radius: 50%;
    cursor: pointer;
}
.almighty {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
header li {
    text-decoration: none;

}
header li a {
    text-decoration: none;
}
.almighty li, a, h1, button {
    display: inline-block;
    text-decoration: none;
    flex-direction: row;
    flex-wrap: wrap;
    cursor: pointer;
   
    text-decoration: none;
    padding: 10px 25px;
    

}
header li a {
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(30, 240, 170);
    font-size: large;
}
button {
    border: 1px solid black;
    background-color: rgb(30, 240, 170);
    border-radius: 10px;
    font-size: large;
    padding: 10px 25px;

    text-decoration: none;
}
header li a:hover {
    background-color: rgba(2, 73, 48, 0.8) ;
    color: aquamarine;
}
button:hover {
    background-color:rgba(2, 73, 48, 0.8) ;
    color: aquamarine;
}
h1 {
    color: white;
}
.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.cta a {
    text-decoration: none;
}
.skor img {
    width: 400px;
}
.skor {
    display: flex;
    justify-content: flex-end;
    padding: 15px 25px;
    margin: 5%;

}
.skor p {
    margin-left: 5%;
}
.blitz img {
    width: 400px; 
    display: flex;
    order: 1;
}
.blitz {
    display: flex;
    justify-content: flex-start;
    padding: 15px 25px;
    margin:5%
}
.blitz p {
    margin-left: 5%;
}


