#one {
    background: url(./images/post-1.png) center /cover;
    max-width: 500px;
    height: 300px;
    isolation: isolate;
    mix-blend-mode: multiply;
}

#top {
    background: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px 0px 0px 20px;
    width: 500px;
    height: 300px;
    left: 0;
    top: 0;

}