h2{
    display:flex;
    flex-flow: row;
    justify-content: space-between;
    align-content:center; 
    }
.h2-column1{
    display:flex;
    flex-flow: row;
    justify-content: space-between;
    align-content:center; 
    }
.column-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 40px;
    margin: 50px 0;
}