* {
    font-family: 'Poppins' , sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    }
.container{
    max-width: 1280px;
    }
header{
    display:flex;
    flex-flow: row;
    justify-content: space-between;
    align-content:center; 
    }
body{
    max-width: 1280px;
}
.menu1{
    align-self: flex-end;
}
.mainlogo{
    margin-top: 28px;
    margin-left: 30px;
    width: 122px;
    height: 28px;
}
.callout{
    width: 173px;
    height: 52px;
    color: #F58A07;
    background-color: rgba(245, 138, 7, 0.1);
    border-radius: 31px;
    margin-top: 18px;
    margin-bottom: 17px;
    margin-left: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; 
    margin-right: 50px;
    }
.navbar{
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    column-gap:30px;
    list-style: none;
    margin-left: 50px;
}

a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a{
    color: inherit;
}
main{
    display: flex;
    height:703px;
    background: #dceaf5;
}
.main-left{
    display:flex;
    width: 576px;
    height: 439px;
    flex-flow: column ;
    margin-left: 30px;
}
.main-header{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
}
.main1{
    font-size: 48px;
    line-height: 72px;
    color: #1d3444;
    font-weight: bold;
    line-height: 72px;
    letter-spacing: -0.03em;
    text-align: left;
    
}
.maintext{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5b5b5b;
}
.main-buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap:30px;
    align-items: center;
}
.button1{
    width: 199px;
    height: 54px;
    border-radius: 27px;
    background: #f58a07;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}
.button1{
    width: 199px;
    height: 54px;
    border-radius: 27px;
    background: #f58a07;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}
.p1{
    margin-top: 50px;
    display:flex;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #394149;
    opacity: 0.5;
}
.logo1{
    width: 143px;
    height: 33px;
}
.logo2{
    width: 134px;
    height: 31px;
}
.logo3{
    width: 140px;
    height: 32px;
}
.small-logos{
    display:flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 30px;
}

.main-banner{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 85px;
}

h2{
    margin-left: 30px;
    margin-right: 500px;
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: -0.03em;
    text-align: left;
    }

.h2-content{
    margin-left: 30px;
    margin-right: 500px;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    }
.h2-post1{
    margin-left: 30px;
    margin-right: 480px;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    }

.column-img{
    border-radius: 20px;
    margin-left: 30px;
    overflow: hidden;
    width: 370px;
    height: auto;
    border-radius: 20px;
    margin-bottom: 33px;
}
.h2-content-head{
    position: flex;
    margin-left: 30px;
    margin-top: 17px;
    border-radius: 20px;
}
.column-title{
    margin-left: 30px;
    font-size: 24px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.03em;
    text-align: left;
    }

.column-content{
    margin-left: 30px;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.03em;
    text-align: left;
}

.more-button{
    margin-left: 30px;
    color: #F58A07;
}