* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  /* font-size: 16px;
    line-height: 24px; */
}

.container {
  max-width: 1280px;
  margin: auto;
}

/* menu/slider heseg ehlev */
.menu {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

/*this is slider content-1*/

.slider {
  background: #dceaf5;
  height: 703px;
}

.slider-container {
  display: flex;
  margin: auto;
  max-width: 1280px;
}

.mainlogo {
  margin-top: 28px;
  width: 122px;
  height: 28px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 50px;
  color: #394149;
}

.navbar {
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  column-gap: 30px;
  list-style: none;
  margin-left: 50px;
  font-size: 16px;
  font-weight: 600;
}

.callout {
  width: 173px;
  height: 52px;
  color: #f58a07;
  background-color: rgba(245, 138, 7, 0.1);
  border-radius: 31px;
  margin-top: 18px;
  margin-bottom: 17px;
  margin-left: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a {
  color: inherit;
}

/* menu/slider heseg duusav */

/* main heseg ehlev */
.main-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

h1 {
  font-weight: 600;
  font-size: 64px;
  line-height: 72px;
  margin-top: 117px;
  letter-spacing: -0.03em;
  color: #1d3444;
}

.maintext {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #5b5b5b;
}

.main-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 32px;
  gap: 32px;
  align-items: center;
}

.button1 {
  width: 199px;
  height: 54px;
  border-radius: 27px;
  background: #f58a07;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.button2 {
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  color: #1d3444;
}

.content1-sta {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: rgba(57, 65, 73, 0.5);
  margin-top: 56px;
}

p {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;
  color: #5b5b5b;
}

.logo1 {
  width: 143px;
  height: 33px;
}

.logo2 {
  width: 134px;
  height: 31px;
}

.logo3 {
  width: 140px;
  height: 32px;
}

.small-logos {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 30px;
}

.main-banner {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 85px;
}

/*This is CONTENT-2*/

.content2 {
  margin-top: 96px;
  margin-bottom: 96px;
}

h2 {
  color: #1d3444;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.03em;
  display: block;
  max-width: 735px;
}

.content2-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #5b5b5b;
  max-width: 735px;
}

.h2-post1 {
  margin-right: 480px;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.column-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 40px;
  margin: 50px 0;
}

.column-img {
  border-radius: 20px;
  overflow: hidden;
  width: 370px;
  height: auto;
  border-radius: 20px;
  margin-bottom: 33px;
}

.column-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #0d1317;
}

.column-content {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.03em;
  text-align: left;
  color: #5b5b5b;
  width: 380px;
}

.more-button {
  color: #f58a07;
  font-weight: 500;
  font-size: 16px;

}

/*This is CONTENT - 3 */

.content3 {
  display: flex;
  background-color: #dceaf5;
  height: 665px;
  margin-top: 96px;
  margin-bottom: 64px;
}

h3 {
  color: #0d1317;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.03em;
  width: 619px;
}

.content3-text {
  width: 620px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #1d3444;
}

.content3-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content3-box {
  width: 31%;
  border-radius: 20px;
  text-align: left;
  background: #ffffff;
  padding: 41px;
}

h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #0d1317;
}

/*This is content4-*/

.content4 {
  display: flex;
}

.content-left {
  width: 596px;
  height: 549px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.upper-text1 {
  width: 596px;
  height: 157px;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.03em;
  color: #0d1317;
  margin-top: 166px;
}

.upper-text2 {
  width: 510px;
  height: 120px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: #5b5b5b;
  margin-top: 32px;
}

.bottom-text {
  display: flex;
}

.bottom-text11 {
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  margin-top: 48px;
  color: #f58a07;
}

.bottom-text12 {
  font-weight: 600;
  font-size: 24px;
  line-height: 106.5%;
  color: #0d1317;
  letter-spacing: -0.03em;
}

.bottom-text13 {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #5b5b5b;
}

.bottom-text1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 16px;
  width: 40%;
}

.content-right {
  background: url(https://m24-development-images.s3.ap-southeast-1.amazonaws.com/assignment/images/about-image.png);
  margin-top: 96px;
  background-color: #f58a07;
  mix-blend-mode: multiply;
  width: 670px;
  height: 670px;
  border-radius: 20px;
}

#orange-box {
  background-color: #f58a07;
  mix-blend-mode: multiply;
  width: 153px;
  height: 670px;
  border-radius: 20px 0 0 20px;
}

/*This is content5-*/

* .help-content-container {
  display: flex;
  margin-left: 48px;
  line-height: 30px;
  text-align: left;
}

.content5-text {
  background-color: #edf7ff;
  margin-top: 85px;
  border-radius: 20px;
  height: 682px;
}

.content5-above {
  margin-top: 30px;
  display: flex;
  justify-content: left;
}

.content5h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.03em;
  text-align: left;
  width: 572px;
  color: #0d1317;
  margin-top: 88px;
}

.content5h3 {
  margin-top: 25px;
  width: 510px;
}

.content5-link1 {
  margin-top: 48px;
  font-size: 16px;
  width: 194px;
  height: 40px;
  color: #f58a07;
  background-color: #ffffff;
  border-radius: 31px;
  text-align: center;
  padding: 8px 24px 8px 24px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.content5-link2 {
  margin-top: 48px;
  margin-left: 24px;
  width: 183px;
  height: 40px;
  color: rgba(6, 50, 85, 0.3);
  border: 1px solid #a8bccc;
  border-radius: 31px;
  text-align: center;
  padding: 8px 20px 8px 20px;
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
}

.content5-image {
  background: url(../images/Content5-Image.png);
  border-radius: 20px;
  width: 472px;
  height: 466px;
  margin-top: 168px;
  margin-left: 100px;
  margin-right: 42.39px;
}

.content5-orange {
  background-color: #f58a07;
  width: 120px;
  height: 466px;
  border-radius: 20px 0 0 20px;
  mix-blend-mode: multiply;
}

.content5-ribbon {
  position: absolute;
  margin-left: 1119px;
  margin-top: -700px;
}

/*This is CONTENT - 6 */

.content6 {
  height: 518px;
  background-color: #f58a07;
}

.content6-row {
  display: flex;
  justify-content: space-between;
}

.content6-image {
  width: 50%;
  background: url(../images/Content6-Image.png) no-repeat center / cover #f58a07;
}

.content6-text {
  background-color: #f58a07;
  padding: 128px 0 0 128px;
  width: 50%;
  height: 518px;
}

.content6-text h2 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 60px;
  width: 480px;
}

.content6-button {
  background-color: #fff;
  padding: 18px 32px;
  color: #f58a07;
  font-weight: 600;
  border-radius: 27px;
  margin-top: 40px;
}

/*This is CONTENT - 7 */

.content7 {
  display: flex;
  margin-top: 128px;
}

.content7-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 128px;
}

.content7-left {
  display: auto;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content7-intro {
  display: flex;
}

.content7-CEO {
  margin-left: 24px;
  font-size: 24px;
  width: 500;
  color: #063255;
}

.content7-JOB {
  margin-left: 24px;
  font-size: 18px;
  width: 500;
  color: #f58a07;
}

.content7-right {
  margin-left: 110px;
}

.content7-video {
  display: flex;
  align-items: center;
  position: absolute;
  margin-top: 350px;
  margin-left: 40px;
}

.content7-icon {
  padding: 15px;
  background-color: #fff;
  border-radius: 20px;
  margin: 88px 0;
}

.content7-Vtext {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  margin-left: 20px;
}

/*This is CONTENT - 8 */

.content8 {
  background-color: #dceaf5;
  height: 819px;
  display: flex;
}

.content8-text {
  margin-top: 96px;
}

.content8-back {
  background-color: white;
  border-radius: 20px;
}

.content8-max {
  background-color: white;
  border-radius: 20px;
  width: 399px;
}

.content8-img img {
  border-radius: 20px 20px 0 0;
}

.content8-margin {
  margin: 32px;
}

/* FOOTER heseg ehlev */

footer {
  background-color: #063255;
  height: 463px;
}

.footerlogo {
  margin-top: 80px;
}

.footer-company {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.03em;
  color: #ffffff;
  width: 351px;
  margin-top: 32px;
}

.footer-column {
  display: flex;
}

.social {
  margin-top: 35.33px;
}

.allrights img {
  margin-top: 86.7px;
}

h5 {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  margin-top: 80px;
  margin-left: 110px;
}

h6 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-left: 110px;
}

.join {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  margin-top: 80px;
  margin-left: 137px;
}

.email {
  width: 342px;
  height: 54px;
  color: #9c9c9c;
  background-color: #ffffff;
  border-radius: 31px;
  margin-top: 24px;
  margin-bottom: 17px;
  margin-left: 137px;
  display: flex;
  align-items: center;
  justify-content: 150px;
  font-weight: 500;
  font-size: 16px;
}

.subscribe {
  width: 156px;
  height: 54px;
  color: white;
  background-color: #f58a07;
  border-radius: 31px;
  margin-top: 16px;
  margin-bottom: 17px;
  margin-left: 137px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 18px;
}

.privacy {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-left: 181px;
  margin-top: 122px;
}

.right-orange {
  margin-left: 267px;
  margin-top: 38px;
}

.left-orange {
  margin-right: 267px;
  margin-top: 319px;
}

.footer-container {
  max-width: 1920px;
  margin: auto;
  display: flex;
}

/* SERVICES - 1*/

.orange-icon {
  max-width: 1480px;
  margin: auto;
}

.service1-image {
  background: url(../images/service1.png);
  height: 650px;
  width: 616px;
  border-radius: 20px;
  margin-top: 108px;
  margin-left: 46px;
}

.service1-orange {
  background-color: #f58a07;
  width: 180px;
  height: 650px;
  border-radius: 20px 0 0 20px;
  mix-blend-mode: multiply;
}

.service1-maintext h1 {
  max-width: 618px;
  margin-top: 254px;
}

/* SERVICE - 2 */

.service2 {
  margin-top: 90px;
  display: flex;
}

.service2-image {
  margin-right: 38px;
}

.service2-content {
  margin-left: 38px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service-list ul li {
  margin-top: 8px;
}

.service2-orange {
  position: absolute;
  background-color: #f58a07;
  mix-blend-mode: multiply;
  width: 95px;
  height: 97px;
  margin-top: 250px;
  margin-left: 53px;
  border-radius: 20px;
}

/* SERVICE - 3 */
.service3 {
  margin-top: 90px;
  display: flex;
}

.service3-image {
  margin-left: 38px;
}

.service3-content {
  margin-right: 38px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service3-orange {
  position: absolute;
  background-color: #f58a07;
  mix-blend-mode: multiply;
  width: 95px;
  height: 97px;
  margin-top: -300px;
  margin-left: 1333px;
  border-radius: 20px;
}

/* CAREER- 1 */

.career1-image {
  background: url(../images/careers1/content1.png);
  height: 650px;
  width: 616px;
  border-radius: 20px;
  margin-top: 108px;
  margin-left: 46px;
}

.career1-row {
  display: flex;
  height: 221px;
}

.career1-box {
  background-color: rgba(193, 228, 255, 0.3); 
  border-radius: 20px;
  height: 181px;
  width: 400px;
  margin-top: 64px;
  margin-right: 40px;
}

.career1-margin{
  margin-top: 32px;
  margin-left: 40px;
}

